{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sendings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Registrationid</th>
                <th>Readed</th>
                <th>Senddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sending in sendings %}
            <tr>
                <td><a href="{{ path('sending_show', { 'id': sending.id }) }}">{{ sending.id }}</a></td>
                <td>{% if sending.date %}{{ sending.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ sending.registrationId }}</td>
                <td>{% if sending.readed %}Yes{% else %}No{% endif %}</td>
                <td>{% if sending.sendDate %}{{ sending.sendDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sending_show', { 'id': sending.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sending_edit', { 'id': sending.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sending_new') }}">Create a new sending</a>
        </li>
    </ul>
{% endblock %}
