{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sending</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sending.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if sending.date %}{{ sending.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Registrationid</th>
                <td>{{ sending.registrationId }}</td>
            </tr>
            <tr>
                <th>Readed</th>
                <td>{% if sending.readed %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Senddate</th>
                <td>{% if sending.sendDate %}{{ sending.sendDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sending_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sending_edit', { 'id': sending.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
