{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commandeproduit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commandeProduit.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ commandeProduit.quantite }}</td>
            </tr>
            <tr>
                <th>Datesave</th>
                <td>{% if commandeProduit.dateSave %}{{ commandeProduit.dateSave|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commandeproduit_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commandeproduit_edit', { 'id': commandeProduit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
