{% extends "AppBundle::table.html.twig" %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>         
        </li>
        <li>
      <a href="{{ path('session_show', { 'id': objectif.programme.id }) }}">{{objectif.programme.nomConcours}} ~ {{objectif.programme.nom}} </a> 
          <i class="icon-angle-right"></i>          
        </li>  
        <li>        
        <li>
      <a href="{{ path('objectif_index', { 'id': objectif.programme.id }) }}">Liens utils:{{objectif.titre}} </a> 
          <i class="icon-angle-right"></i>          
        </li>  
        <li>
      <a href="#">Edition</a>      
        </li>               
      </ul>
   {% endblock %}
 {% block table_title %}Edition de {{objectif.titre}}{% endblock %}  
{% block table %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

            <a href="{{ path('objectif_index', { 'id': objectif.programme.id }) }}">Retour</a>

{% endblock %}
