{% extends "AppBundle::table.html.twig" %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="#">Home</a> 
          <i class="icon-angle-right"></i>         
        </li>
        <li>
      <a href="{{ path('session_show', { 'id': objectif.programme.id }) }}">{{objectif.programme.nomConcours}} ~ {{objectif.programme.nom}} </a> 
          <i class="icon-angle-right"></i>          
        </li>        
        <li> 
      <a href="{{ path('objectif_index', { 'id': objectif.programme.id }) }}">{{objectif.titre}}</a>          
        </li>                
      </ul>
   {% endblock %}
 {% block table_title %}Détails de  {{objectif.titre}}{% endblock %}  
{% block table %}
    <table>
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ objectif.titre }}</td>
            </tr>
            <tr>
                <th>Lien direct</th>
                <td><a href="objectif.description">{{ objectif.description }}</a></td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('objectif_index', { 'id': objectif.programme.id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('objectif_edit', { 'id': objectif.id }) }}">Modifier</a>
        </li>
    </ul>
{% endblock %}
