{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rendezvouses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dateat</th>
                <th>Date</th>
                <th>Quantite</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rendezvous in rendezvouses %}
            <tr>
                <td><a href="{{ path('rendezvous_show', { 'id': rendezvous.id }) }}">{{ rendezvous.id }}</a></td>
                <td>{% if rendezvous.dateat %}{{ rendezvous.dateat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if rendezvous.date %}{{ rendezvous.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ rendezvous.quantite }}</td>
                <td>{{ rendezvous.commentaire }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('rendezvous_show', { 'id': rendezvous.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('rendezvous_edit', { 'id': rendezvous.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rendezvous_new') }}">Create a new rendezvous</a>
        </li>
    </ul>
{% endblock %}
