{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Rendez-vous{% endblock %}
{% block body %}
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card  card-stats">
	                            <div class="card-header" data-background-color="blue">
	                                <h4 class="title">Détails des rendez-vous</h4>
	                                <p class="category">Ce-ci est la liste des rendez-vous et des comptes rendus</p>
	                            </div>
								<div class="card-content">
									<p class="category">Rendez-vous obtenus</p>
									<h3 class="title">{{rendezVouses|length}}</h3>
								</div>								
	                            <div class="card-footer table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Nom du Client</th>
	                                    	<th>Création</th>
	                                    	<th>Date & Heure </th>
											<th>Lieu </th>
											<th>Commercial</th>											
											<th>Compte rendu</th>
	                                    </thead>
	                                    <tbody>
										 {% for rendezVous in rendezVouses %}
	                                        <tr>
	                                        	<td>{{rendezVous.client.nom}}</td>
	                                        	<td>{{rendezVous.client.telephone}}</td>
	                                        	<td>{{rendezVous.date| date('d/m/Y H:i')}}</td>
	                                        	<td>{{rendezVous.dateRdv| date('d/m/Y H:i')}} </td>
												<td>{{rendezVous.lieu}}</td>
												<td>
												{% if vente.user.nom %}{{vente.user.nom}}{% else %}{{vente.user.username}}{% endif %}
												</td>
												<td class="text-primary">{{rendezVous.compteRendu}}</td>
	                                        </tr>
                                         {% endfor %}															
	                                    </tbody>
	                                </table>

	                            </div>
	                        </div>
	                    </div>
</div>
{% endblock %}
