{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rendezvous</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rendezvous.id }}</td>
            </tr>
            <tr>
                <th>Dateat</th>
                <td>{% if rendezvous.dateat %}{{ rendezvous.dateat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if rendezvous.date %}{{ rendezvous.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ rendezvous.quantite }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ rendezvous.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rendezvous_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rendezvous_edit', { 'id': rendezvous.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
