{% extends 'layout.html.twig' %}
{% block page_title %}CONTENT{% endblock %}
{% block stylesheets %}
{{parent()}}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
 <script src="http://www.wiris.net/demo/editor/editor"></script>
  <script>
    var editor;
    window.onload = function () {
      editor = com.wiris.jsEditor.JsEditor.newInstance({'language': 'en'});
            editor.insertInto(document.getElementById('editorContainer'));                
    }

 </script>  
 <script>
function myFunction() {
  //alert(editor.getMathML());
   window.prompt("Copy to clipboard: Ctrl+C, Enter", editor.getMathML());
}
</script> 
{% endblock %} 
{% block fos_user_content %}
<body>
  <div class="wrapper">
      <div class="sidebar" data-color="purple" data-image="{{ asset('assets/img/sidebar-1.jpg') }}">
      <div class="logo">
        <a href="#" class="simple-text">
          CONTENT
        </a>
      </div>
        <div class="sidebar-wrapper">
              <ul class="nav">
                  <li class="active">
                      <a href="{{ path('concours_index') }}">
                         <i class="material-icons">dashboard</i>
                          <p>Concours</p>
                      </a>
                  </li>   
                  <li class="">
                      <a href="{{ path('programme_index') }}">
                         <i class="material-icons">dashboard</i>
                          <p>Programmes</p>
                      </a>
                  </li>   
                  <li class="">
                      <a href="{{ path('resultat_index') }}">
                         <i class="material-icons">dashboard</i>
                          <p>Resultats</p>
                      </a>
                  </li>                                      
          <li class="active-pro">
                      <a href="#">
                          <i class="material-icons">unarchive</i>
                          <p>CENTOR &copy;</p>
                      </a>
                  </li>
              </ul>
        </div>
    </div>
      <div class="main-panel">
      <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{% block title %}CONTENU{% endblock %}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

              <li>
                <a href="{{ path('fos_user_security_logout') }}" >
                   <i class="material-icons">https</i>
                   <p class="hidden-lg hidden-md">Profile</p>
                 </a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
          <div class="content">
       <div class="container-fluid">
          <div class="row">
              {% block body %}
                

                 
             {% endblock body %}
              </div>
          </div>
          </div>

      </div>
  </div>
</body>
{% endblock fos_user_content %}