<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}L.P.M {% endblock %}</title>       
        <meta name="description" content="" />
        <meta name="Author" content="PENKA WILLIAMS MAGLOIRE" />
        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!-- WEB FONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />
         {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css"  />
        <link rel="stylesheet" href="{{ asset('assets/css/essentials.css') }}"  type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/layout.css') }}" type="text/css"  />
        <link rel="stylesheet" href="{{ asset('assets/css/color_scheme/green.css') }}"  type="text/css"  id="color_scheme" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/layout-datatable.css') }}"  />
        {% endblock %}
    </head>
    <body>
        {% block fos_user_content %}
        <!-- WRAPPER -->
        <div id="wrapper">
            <aside id="aside">

                <nav id="sideNav"><!-- MAIN MENU -->
                    <ul class="nav nav-list">
                        <li><!-- dashboard -->
                            <a class="dashboard" href="{{ path('user_homepage') }}"><!-- warning - url used by default by ajax (if eneabled) -->
                                <i class="main-icon fa fa-bar-chart-o"></i> <span>Statistiques</span>
                            </a>
                        </li>                       
                        <li>
                            <a href="#">
                                <i class="fa fa-menu-arrow pull-right"></i>
                                <i class="main-icon fa fa-dot-circle-o"></i> <span>Points de vente</span>
                            </a>
                            <ul><!-- submenus -->
                                <li><a href="{{ path('pointvente_index') }}">Les points de vente</a></li>
                                <li><a href="{{ path('pointvente_map') }}">Geolocalisation</a></li>
                            </ul>
                        </li>
                         <li><!-- dashboard -->
                            <a class="dashboard" href="{{ path('visite_index') }}"><!-- warning - url used by default by ajax (if eneabled) -->
                                <i class="main-icon fa fa-check-square"></i><span>Visite</span>
                            </a>
                        </li>                       
                       <li><!-- dashboard -->
                            <a class="dashboard" href="{{ path('etape_index') }}"><!-- warning - url used by default by ajax (if eneabled) -->
                                <i class="main-icon fa fa-calendar"></i><span>Activités</span>
                            </a>
                        </li>                   
                    </ul>

                </nav>
                <span id="asidebg"><!-- aside fixed background --></span>
            </aside>

            <header id="header">
                <!-- Mobile Button -->
                <button id="mobileMenuBtn"></button>
                <span class="logo pull-left">
                    <img src="assets/images/logo_light.png" alt="LPM" height="35">
                </span>
                <form method="post" action="{{ path('set_periode') }}" class="search form-inline  pull-left hidden-xs">
                 <label></label>
    {% set start_date_formated=app.session.get('start_date_formated')?app.session.get('start_date_formated'):'01/01/2017'  %}
    {% set end_date_formated=app.session.get('end_date_formated') ?app.session.get('end_date_formated'):'31/12/2017'   %}
<input type="text" class="form-control rangepicker" 
name="periode" data-format="dd/mm/yyyy" 
value="{{ start_date_formated }} - {{ end_date_formated }}"
 data-from="{{ start_date_formated }}" data-to="{{ end_date_formated }}">

                <input type="hidden" class="form-control datepicker" data-format="yyyy-mm-dd" data-lang="en" data-RTL="false">
                <label></label>
                <select class="" name="region" selected>
                   <option value="" {% if not app.session.get('region')  %}selected="true"{% endif %}>Toute les regions</option>
                   <option value="BRAZAVILLE"  {% if app.session.get('region')=='BRAZAVILLE'  %}selected="true"{% endif %}>BRAZAVILLE</option>
                   <option value="Pointe Noir" {% if  app.session.get('region')=='Pointe Noir'  %}selected="true"{% endif %}>Pointe Noir</option>
              </select>
                <button type="submit" class="btn btn-primary btn-sm">Afficher les données</button>
                </form>
                <nav>

                    <!-- OPTIONS LIST -->
                    <ul class="nav pull-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <!-- USER OPTIONS -->
                        <li class="dropdown pull-left">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img class="user-avatar" alt="" src="{{ asset('assets/images/noavatar.jpg') }}" height="34" /> 
                                <span class="user-name">
                                    <span class="hidden-xs">
                                        {{  app.user.username }}<i class="fa fa-angle-down"></i>
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu hold-on-click">
                                <li><!-- settings -->
                                    <a href="#"><i class="fa fa-cogs"></i> Paramètres</a>
                                </li>

                                <li class="divider"></li>
                                  
                                <li><!-- logout -->
                                    <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i>Deconnexion</a>
                                </li>
                                 
                            </ul>
                        </li>
                        <!-- /USER OPTIONS -->
                 {% endif %}
                    </ul>
                    <!-- /OPTIONS LIST -->

                </nav>

            </header>
            <!-- /HEADER -->


            <!-- 
                MIDDLE 
            -->
            <section id="middle">
              {% block body %}

        <div id="content" class="dashboard padding-20">
                    <!-- BOXES -->
                    <div class="row">

                        <!-- Feedback Box -->
                        <div class="col-md-3 col-sm-6">

                            <!-- BOX -->
                            <div class="box danger"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
            <h4>{% if nombrePointVente==0%}<a href="#">Aucun point de vente</a>{% else %}<a href="#">{{nombrePointVente|number_format(0, ',', '.')}} points de vente recensés</a>{% endif%}</h4>
            <small class="block">{% if nombrePointVente==0%}Aucun PDV visité{% else %}{{nombrePointVenteVisite|number_format(0, ',', '.')}} PDV visités{% endif%}</small>
                                    <i class="fa fa-comments"></i>
                                </div>

                                <div class="box-body text-center">
                                </div>

                            </div>
                            <!-- /BOX -->

                        </div>

                        <!-- Profit Box -->
                        <div class="col-md-3 col-sm-6">

                            <!-- BOX -->
                            <div class="box warning"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4>{{tauxExc|number_format(0, ',', '.')}}% de taux d'exclusivité</h4>
                         <small class="block">{% if nombrePointVenteVisite==0%}--{% else %} {{exc|number_format(0, ',', '.')}} P.D.V ont l'exclusivité{% endif%}</small>
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>

                                <div class="box-body text-center">

                                </div>

                            </div>
                            <!-- /BOX -->

                        </div>
                        <!-- Online Box -->
                        <div class="col-md-3 col-sm-6">

                            <!-- BOX -->
                            <div class="box default"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4>{{tauxAff|number_format(0, ',', '.')}}% de PDV ont des affiches</h4>
                          <small class="block">{% if nombrePointVenteVisite==0%}--{% else %} {{nAff |number_format(0, ',', '.')}} P.D.V n'ont pas d'affiches {% endif%}</small>
                                    <i class="fa fa-globe"></i>
                                </div>

                                <div class="box-body text-center">

                                </div>

                            </div>
                            <!-- /BOX -->

                        </div>


                        <!-- Online Box -->
                        <div class="col-md-3 col-sm-6">

                            <!-- BOX -->
                            <div class="box success"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4>{{tauxApp|number_format(0, ',', '.')}}% de PDV s'app... chez un A.C.</h4>
                          <small class="block">{% if nombrePointVenteVisite==0%}--{% else %} {{nApp|number_format(0, ',', '.')}} P.D.V ne s'approvisionnent pas chez un A.C.{% endif%}</small>
                                    <i class="fa fa-globe"></i>
                                </div>

                                <div class="box-body text-center">

                                </div>

                            </div>
                            <!-- /BOX -->

                        </div>



                    </div>
                    <div class="row">
               <div class="col-md-12">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Effectivité des visites par semaine </strong> ({{nombreVisite}} Visites)
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                                </div>

                                <!-- panel content -->
                                <div class="panel-body">    


                         <canvas class="chartjs fullwidth height-300" id="barChartCanvas" width="547" height="200"></canvas>
                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->
                    
                        </div>

               <div class="col-md-6">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Stock par produit cette semaine</strong>( pour {{nombrePointVenteVisite}} points visités)
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                                </div>

                                <!-- panel content -->
                                <div class="panel-body">  
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#Reference produit</th>
                                                            <th>SD</th>
                                                            <th>SG</th>
                                                            <th>MVJ</th>
                                                            <th>ECL</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for situation in situations %}
                                                        <tr>
                                                            <td><a href="#">{{situation.nom}}</a></td>
                                                            <td>{{situation.stock}}</td>
                                                            <td>{{situation.stockG}}</td>
                                                            <td>{{situation.mvj}}</td>
                                                            <td>{{situation.ecl|number_format(0, '.', ',') }}</td>
                                                        </tr>
                                                        {%endfor%}

                                                    </tbody>
                                                </table>

                                                <a class="size-12" href="#">
                                                    <i class="fa fa-arrow-right text-muted"></i> 
                                                    Exporter vers (.xls)
                                                </a>

                                            </div>



                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->
                    
                        </div>
               <div class="col-md-6">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Visibilite par produit</strong> (pour {{nombrePointVenteVisite}} points visités)
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                                </div>

                                <!-- panel content -->
                                <div class="panel-body">    
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#Reference produit</th>
                                                            <th>MAP</th>
                                                            <th>PRE</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for visibilite in visibilites %}
                                                        <tr>
                                                            <td><a href="#">{{visibilite.nom}}</a></td>
                                                            <td>{{visibilite.map}} : {{(visibilite.map*100/nombrePointVenteVisite)|number_format(0, '.', ',') }}%</td>
                                                          
                                                            <td>{{visibilite.pre}} : {{(visibilite.pre*100/nombrePointVenteVisite)|number_format(0, '.', ',') }}%</td>
                                                        </tr>
                                                        {%endfor%}

                                                    </tbody>
                                                </table>

                                                <a class="size-12" href="#">
                                                    <i class="fa fa-arrow-right text-muted"></i> 
                                                    Exporter vers (.xls)
                                                </a>

                                            </div>



                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->
                    
                        </div>


               <div class="col-md-6">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Respect de prix par produit</strong> (pour {{nombrePointVenteVisite}} points visités)
                                    </span>
                               <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->                                 
                                </div>

                                <!-- panel content -->
                                <div class="panel-body">    
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#Reference produit</th>
                                                            <th>RPD</th>
                                                            <th>RPG</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for respectPrix in respectPrixs %}
                                                        <tr>
                                                            <td><a href="#">{{respectPrix.nom}}</a></td>
                                                            <td>{{respectPrix.rpd}} : {{(respectPrix.rpd*100/nombrePointVenteVisite)|number_format(0, '.', ',')}}%</td>
                                                            <td>{{respectPrix.rpp}} : {{(respectPrix.rpp*100/nombrePointVenteVisite)|number_format(0, '.', ',') }}%</td>
                                                       
                                                        </tr>
                                                        {%endfor%}

                                                    </tbody>
                                                </table>

                                                <a class="size-12" href="#">
                                                    <i class="fa fa-arrow-right text-muted"></i> 
                                                    Exporter vers (.xls)
                                                </a>

                                            </div>

                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->
                    
                        </div>

               <div class="col-md-6">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Légende</strong>
                                    </span>
                                </div>

                                <!-- panel content -->
                                <div class="panel-body">   
                                <ul class="list-unstyled list-hover slimscroll height-200" data-slimscroll-visible="true"> 
                                    <li>
                                    <span class="label label-default">PDV</span>
                                     Point de vente
                                    </li>
                                    <li>
                                    <span class="label label-default">MVJ</span>
                                     Moyenne de vente par jour
                                    </li> 
                                    <li>
                                    <span class="label label-default">SD</span>
                                     Stock disponible en detail
                                    </li>
                                    <li>
                                    <span class="label label-default">SG</span>
                                    Stock disponible en gros
                                    </li> 
                                    <li>
                                    <span class="label label-default">ECL</span>
                                    Ecart de livraison moyen
                                    </li>
                                    <li>
                                    <span class="label label-default">MAP</span>
                                     Taux de mise en avant du produit
                                    </li>
                                    <li>
                                    <span class="label label-default">PRE</span>
                                     Taux disponibilité d'un présentoire
                                    </li>
                                    <li>
                                    <span class="label label-default">RPD</span>
                                     Taux de respect de prix au détail
                                    </li>

                                   <li>
                                      <span class="label label-default">RPG</span>
                                     Taux de respect de prix de gros
                                    </li>                                  

                                    </ul>
                                    <br>

                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->
                    
                        </div>



                      </div>

     <div class="panel panel-default">
            <div class="panel-body">
                   <div class="alert alert-bordered-dashed margin-bottom-30"><!-- DASHED -->
                           <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                          <p>
                                        Les données affichées sur cette page sont fonction de la période et de la région sélectionnées. Veillez vous assurer que vous avez bien défini la période et la région correspondante.
                                        Par défaut, les données sont celle de toute les régions pour toutes les périodes.
                             </p>
               </div>
            </div>
     </div>
                </div>
              {% endblock %}


            </section>
            <!-- /MIDDLE -->

        </div>
    
        {% endblock fos_user_content %}
       {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
       <script type="text/javascript">
            /**
                Chart.js
                http://www.chartjs.org/
            **/
            loadScript( "{{ asset('assets/plugins/chart.chartjs/Chart.min.js') }}", function() {

                var barChartCanvas = {
                    labels : [
                    {% for visite in visitesParSemaine %}
                    "{{visite.weekText}}",
                    {% endfor%}
                    ],
                    datasets : [
                        {
                            fillColor : "#69D2E7",
                            strokeColor : "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data : [
                            {% for visite in visitesParSemaine %}
                              {{visite.nombre}},
                              {% endfor%}
                            ]
                        }
                    ]
                };

                // barChartCanvas
                var ctx = document.getElementById("barChartCanvas").getContext("2d");
                new Chart(ctx).Line(barChartCanvas);

                
            });
        </script>

       {% endblock %}

    </body>
</html>