{% extends "layout.html.twig" %}
{% block title %}Bienenue {% endblock %} 
     {% block stylesheets %}<p></p>
     {{parent()}}<p></p>
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/vendor/bootstrap.daterangepicker/daterangepicker-bs3.css') }}" />
    {% endblock %} 
{% block fos_user_content %}
     {% include 'AppBundle:part:menu.html.twig' %}
    {% block main_content %}

    {% endblock %}
{% endblock fos_user_content %}
{% block javascripts %}
 {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/app/assets/vendor/chart.js/dist/Chart.min.js') }}"></script> 
  <script type="text/javascript" src="{{ asset('bundles/app/assets/vendor/chart.js/dist/Chart.extension.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/app/assets/vendor/bootstrap.daterangepicker/moment.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/app/assets/vendor/bootstrap.daterangepicker/daterangepicker.js') }}"></script>

   <script type="text/javascript">
               $(document).ready(function() {
                  $('#periode').daterangepicker({
                    format: 'DD/MM/YYYY'
                  }, function(start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                  });
               });
               </script>
   <script type="text/javascript" src="{{ asset('bundles/app/assets/js/argon.js?v=1.0.0') }}"></script>              
  {% endblock %}