<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}AllReport {% endblock %}</title>       
        <meta name="description" content="" />
        <meta name="Author" content="PENKA WILLIAMS MAGLOIRE" />
        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!-- WEB FONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />
         {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css"  />
        <link rel="stylesheet" href="{{ asset('assets/css/essentials.css') }}"  type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/layout.css') }}" type="text/css"  />
        <link rel="stylesheet" href="{{ asset('assets/css/color_scheme/green.css') }}"  type="text/css"  id="color_scheme" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/layout-datatable.css') }}"  />
        {% endblock %}
    </head>
       {% if situations is defined %}
               {% set totalStock=0 %} 
               {% set totalStockSiat=0 %} 
               {% set totalStockCon=0 %} 
               {% for situation in situations  %}
               {% if situation.dossier=='produit' %}
               {% set totalStockSiat=totalStockSiat+situation.sd %}
               {% elseif situation.dossier=='concurrence'  %}
               {% set totalStockCon=totalStockCon+situation.sd %}
               {% endif %}
                {% set totalStock=totalStock+situation.sd %}
               {%endfor%} 

        {% endif %}         
    <body>
        {% block fos_user_content %}
        <!-- WRAPPER -->
        <div id="wrapper">
            <aside id="aside">

                <nav id="sideNav"><!-- MAIN MENU -->
                    <ul class="nav nav-list">

                        <li>
                            <a href="#">
                                <i class="fa fa-menu-arrow pull-right"></i>
                               <i class="main-icon fa fa-bar-chart-o"></i><span>Statistiques</span>
                            </a>
                            <ul><!-- submenus -->
                                <li><a href="{{ path('statistiques_dernier') }}">Derniere visite</a></li>
                                 <li><a href="{{ path('statistiques_periode') }}">Toute la période</a></li>
                            </ul>
                        </li>                                              
                        <li>
                            <a href="#">
                                <i class="fa fa-menu-arrow pull-right"></i>
                                <i class="main-icon fa fa-dot-circle-o"></i> <span>Points de vente</span>
                            </a>
                            <ul><!-- submenus -->
                                <li><a href="{{ path('pointvente_index') }}">Les points de vente</a></li>
                                 <li><a href="{{ path('pointvente_eligibles') }}">Eligibilités</a></li>
                                <li><a href="{{ path('pointvente_map') }}">Geolocalisation</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-menu-arrow pull-right"></i>
                               <i class="main-icon fa fa-check-square"></i><span>Visite</span>
                            </a>
                            <ul><!-- submenus -->
                                <li><a href="{{ path('visites') }}">Historique des visites</a></li>
                                 <li><a href="{{ path('visite_par_pdv') }}">Visites par point de vente</a></li>
                            </ul>
                        </li>                                               
                       <li><!-- dashboard -->
                            <a class="dashboard" href="{{ path('etape_index') }}"><!-- warning - url used by default by ajax (if eneabled) -->
                                <i class="main-icon fa fa-calendar"></i><span>Activités</span>
                            </a>
                        </li>                   
                    </ul>
                </nav>
                <span id="asidebg"><!-- aside fixed background --></span>
            </aside>

            <header id="header">
                <!-- Mobile Button -->
                <button id="mobileMenuBtn"></button>
                <span class="logo pull-left">
                    <img src="assets/images/logo_light.png" alt="AllReport" height="35">
                </span>
                <form method="post" action="{{ path('set_periode') }}" class="search form-inline  pull-left hidden-xs">
                 <label></label>
    {% set start_date_formated=app.session.get('start_date_formated')?app.session.get('start_date_formated'):'01/01/2017'  %}
    {% set end_date_formated=app.session.get('end_date_formated') ?app.session.get('end_date_formated'):'31/12/2017'   %}
    {% set periode=app.session.get('periode')%}
<input type="text" class="form-control rangepicker" 
name="periode" data-format="dd/mm/yyyy" 
 {%if periode %}value="{{ periode }}"{% endif %}  placeholder="Selectionnez une période"
 data-from="{{ start_date_formated }}" data-to="{{ end_date_formated }}" required="">

                <input type="hidden" class="form-control datepicker" data-format="yyyy-mm-dd" data-lang="en" data-RTL="false">
                <label></label>
                <select class="" name="region" selected>
                   <option value="" {% if not app.session.get('region')  %}selected="true"{% endif %}>-- Selectionnez--</option>
                   <option value="BRAZAVILLE"  {% if app.session.get('region')=='BRAZAVILLE'  %}selected="true"{% endif %}>BRAZAVILLE</option>
                   <option value="Pointe Noir" {% if  app.session.get('region')=='Pointe Noir'  %}selected="true"{% endif %}>Pointe Noir</option>
              </select>
                <button type="submit" class="btn btn-primary btn-sm">Afficher les données</button>
                </form>
                <nav>

                    <!-- OPTIONS LIST -->
                    <ul class="nav pull-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <!-- USER OPTIONS -->
                        <li class="dropdown pull-left">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img class="user-avatar" alt="" src="{{ asset('assets/images/noavatar.jpg') }}" height="34" /> 
                                <span class="user-name">
                                    <span class="hidden-xs">
                                        {{  app.user.username }}<i class="fa fa-angle-down"></i>
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu hold-on-click">
                                <li><!-- settings -->
                                    <a href="#"><i class="fa fa-cogs"></i> Paramètres</a>
                                </li>

                                <li class="divider"></li>
                                  
                                <li><!-- logout -->
                                    <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i>Deconnexion</a>
                                </li>
                                 
                            </ul>
                        </li>
                        <!-- /USER OPTIONS -->
                 {% endif %}
                    </ul>
                    <!-- /OPTIONS LIST -->

                </nav>

            </header>
            <!-- /HEADER -->


            <!-- 
                MIDDLE 
            -->
            <section id="middle">
               {% block body %}


              {% endblock %}


            </section>
            <!-- /MIDDLE -->

        </div>
    
        {% endblock fos_user_content %}

       {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>

       <script type="text/javascript">
            /**
                Chart.js
                http://www.chartjs.org/
            **/
 

     loadScript( "{{ asset('assets/Chart.min.js') }}", function() {

         var data = {
          labels: [
            "SIAT CONGO",
        {% for situation in situations if situation.dossier=='concurrence' %}
          "{{situation.nom}}",
         {%endfor%}
           ],
         datasets: [
             {
        data: [{%if totalStock>0 %}{{(totalStockSiat*100/totalStock)|number_format(0, '.', ' ')}},{%endif%}
        {%if totalStock>0 %}     {% for situation in situations if situation.dossier=='concurrence' %}{{(situation.sd*100/totalStock)|number_format(0, '.', ' ')}},{%endfor%}{%endif%}],
        backgroundColor: ["#F38823",{% for situation in situations if situation.dossier=='concurrence' %}"{{ attribute(colors, loop.index )}}",{%endfor%}],
        hoverBackgroundColor: ["#F38584",{% for situation in situations if situation.dossier=='concurrence' %}"{{ attribute(colors, loop.index )}}",{%endfor%}]
        }]
      };      
    var ctx = document.getElementById("pieChartCanvas").getContext("2d");
            new Chart(ctx,{
                type: 'pie',
               data: data
                });
                



var data = {
    labels: [{% for stockSiat in stockSiatParSemaine %}"{{stockSiat.weektext}}:{{stockSiat.nombre}}",{% endfor%}],
    datasets: [
        {
            label: "PART stock SIAT CONGO",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(255, 206, 86, 27)",
            borderColor: "rgba(255, 206, 86, 27)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for stockSiat in stockSiatParSemaine %}{{stockSiat.stock}},{% endfor%}],
            spanGaps: false,
        },
         {
            label: "Part concurrence",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(255, 99, 132, 27)",
            borderColor: "rgba(255,99,132,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for stockCon in stockConParSemaine %}{{stockCon.stock}},{% endfor%}],
            spanGaps: false,
        }

       
    ]
 };

    var ctx2 = document.getElementById("barChartCanvas").getContext("2d");
            new Chart(ctx2,{
                type: 'bar',
                data: data,
               options: {
                       scales: {
                             xAxes: [{stacked: true}],
                             yAxes: [{stacked: true}]
                               }
                           }
            });
      });
        </script>
       {% endblock %}

    </body>
</html>