{% extends "AppBundle::layout.html.twig" %}
{% block page_title %}Edition de contenu{% endblock %}
 {% block stylesheets %}
{{parent()}}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
 <script src="http://www.wiris.net/demo/editor/editor"></script>
  <script>
    var editor;
    window.onload = function () {
      editor = com.wiris.jsEditor.JsEditor.newInstance({'language': 'fr'});
      editor.insertInto(document.getElementById('editorContainer'));   
                      
    }

 </script> 

  <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
  <script src="{{ asset('ckeditor/js/sample.js') }}"></script>
  <link rel="stylesheet" href="{{ asset('ckeditor/css/samples.css') }}">
  <link rel="stylesheet" href="{{ asset('ckeditor/toolbarconfigurator/lib/codemirror/neo.css') }}">
{% endblock %} 
{% block body %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Edtion de contenu</a></li>
      </ul>
   {% endblock %}
   {% block extra %}
    {% endblock %}
      <div class="row-fluid sortable">    
        <div class="box span12">
          <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>{% block table_title %}{% endblock %}</h2>
            <div class="box-icon">
              <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
              <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
              <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
          </div>
  <div class="box-content">
      {% for flash_message in app.session.flashBag.get('success') %}
         <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Succès</strong> {{ flash_message }}.
            </div>        
    {% endfor %} 
      {% for flash_message in app.session.flashBag.get('error') %}
         <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Problème !</strong> {{ flash_message }}.
            </div>        
    {% endfor %}

{% block table %}

{% endblock %}
   <br> 
  </div>
</div>
</div>
{% block help %}
<div class="row-fluid">      
        <div class="box span12">
          <div class="box-header">
            <h2><i class="halflings-icon white th"></i><span class="break"></span>Rubrique d'aide</h2>
            <div class="box-icon">
              <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
              <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
              <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>            
          </div>
          <div class="box-content">
            {% block helptext %}
                  <p>
                  Cette page est en cours de restauration  vous l'aurez sans doute remarqué. Des travaux encours peuvent parfois impacter sur  certaines  fonctions et même sur l'ensemble du système. Veillez signaler tout disfonctionnement, fautes d'écriture ou de couleur à notre équipe technique par mail à l'adresse <a href="mailto:support@centor.org"> support@centor.org</a>. 
                </p>
                {% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}
{% block modal %}
    <div class="modal hide fade" id="myModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Editeur de formules</h3>
    </div>
    <div class="modal-body"> 
     <div   id="editorContainer">
     </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Femer</a>
      <a href="javascript:void(0);" onclick="myFunction()" class="btn btn-primary">Insérer</a>
    </div>
  </div>
{% endblock %}
{% endblock %}


