{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{visite.pointVente.nom}} du {% if visite.date %}{{ visite.date|date('d/m/Y') }}{% endif %}  {% endblock %}
               {% set totalStock=0 %} 
               {% set totalStockSiat=0 %} 
               {% set totalStockCon=0 %} 
               {% for situation in visite.situations  %}
               {% if situation.produit.dossier=='produit' %}
               {% set totalStockSiat=totalStockSiat+situation.stock %}
               {% elseif situation.produit.dossier=='concurrence'  %}
               {% set totalStockCon=totalStockCon+situation.stock %}
               {% endif %}
                {% set totalStock=totalStock+situation.stock %}
               {%endfor%} 
{% block body %}
   <!-- page title -->
    <header id="page-header">
    <h1>visite de <a href="{{ path('pointvente_show',{'id':visite.pointVente.id}) }}">{{visite.pointVente.nom}}</a> du {% if visite.date %}{{ visite.date|date('d/m/Y') }}{% endif %}</h1>
    </header>
<div id="content" class="dashboard padding-20">
<div class="row">
<div class="col-md-7">
              <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Date de la visite </strong>{% if visite.date %}{{ visite.date|date('d/m/Y') }}{% endif %}
                                    </span>
                                    <span class="title elipsis">
                                        <strong>  #Par</strong> {{ visite.user.nom }}
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                                </div>

                                <!-- panel content -->
                                <div class="panel-body">  
                        <div class="table-responsive">
                        <h3>STATUT DU POINT DE VENTE</h3>
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th class="col-md-6">Point de ventet</th>
                <td><a href="{{ path('pointvente_show',{'id':visite.pointVente.id}) }}">{{visite.pointVente.nom}}</a></td> 
            </tr>        
            <tr>
                <th class="col-md-6">Est-il client</th>
                <td>{% if visite.pasClient %}Non{% else %}Oui{% endif %}</td>
               
            </tr>
            <tr>
                <th class="col-md-6">Est-il ouvert</th>
                <td>{% if visite.pasOuvert %}Non{% else %}Oui{% endif %}</td>
            </tr>
            <tr>
                <th class="col-md-6">Commentaire</th>
                <td>
                    {% if visite.pasClient %}
                                                   Non client pour {{visite.raisonPasClient }}
                    {% elseif visite.pasOuvert %}
                                                     Fermé pour   {{visite.raisonPasOuvert }}
                      {% else %}
                                                   {{visite.commentaire }}
                    {% endif %}
                </td>
                 
            </tr>
        </tbody>
    </table> 
        <h3>REPARTITION DU STOCK</h3>
                     {% if visite is not defined or visite.pasClient or visite.pasOuvert %} 
                                   <p> Aucune donnée à présenter</p>  
                            
                             {% else%} 
                             <canvas class="chartjs height-450" id="pieChartCanvas" width="500" height="450"></canvas>
 {% endif%}  
          </div>
        </div>
          <!-- /panel content -->

        </div>               
     </div>

                <div class="col-md-5">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Stock par produit </strong>
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                                </div>

                                <!-- panel content -->
                                <div class="panel-body">  
                                            <div class="table-responsive">
                                             <h3>Stock de SIAT</h3>

                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#Produits</th>
                                                            <th>Stock</th>
                                                            <th>Part/SIAT</th>
                                                             <th>Part/Global</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                   
                                                    {% for situation in visite.situations if situation.produit.dossier=='produit' %}
                                                        <tr>
                                                            <td class="col-md-6"><a href="#">{{situation.produit.nom}}</a></td>
                                                            <td>{{situation.stock|number_format(0, '.', ' ')}}</td>
                                                            <td>{%if totalStockSiat>0 %}{{(situation.stock*100/totalStockSiat)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</td>                                                            
                                                            <td>{%if totalStock>0 %}{{(situation.stock*100/totalStock)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</td>
                                                        </tr>
                                                        {%endfor%}
                                                        <tr>
                                            <td>PART DE SIAT</td>
                                      <td><b>{{totalStockSiat|number_format(0, '.', ' ')}}</b></td>
                     <td><b>{%if totalStockSiat>0 %}{{(totalStockSiat*100/totalStockSiat)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</b></td>                                      
                                  <td><b>{%if totalStock>0 %}{{(totalStockSiat*100/totalStock)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <h3>Stock de la concurrence</h3>
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#Produits</th>
                                                            <th>Stock</th>
                                                            <th>Part/Con</th>
                                                             <th>Part/Global</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for situation in visite.situations if situation.produit.dossier=='concurrence' %}
                                                        <tr>
                                                            <td class="col-md-6"><a href="#">{{situation.produit.nom}}</a></td>
                                                            <td>{{situation.stock|number_format(0, '.', ' ')}}</td>
                                                            <td>{%if totalStockCon>0 %}{{(situation.stock*100/totalStockCon)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</td>                                                            
                                                            <td>{%if totalStock>0 %}{{(situation.stock*100/totalStock)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</td>
                                                        </tr>
                                                        {%endfor%}
                                                        <tr>
                <td>PART concurrence</td>
              <td><b>{{totalStockCon|number_format(0, '.', ' ')}}</b></td>
             <td><b>{%if totalStockCon>0 %}{{(totalStockCon*100/totalStockCon)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</b></td>              
             <td><b>{%if totalStock>0 %}{{(totalStockCon*100/totalStock)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                </div>
                                <!-- /panel content -->

                            </div>
               <!-- /PANEL --> 
      </div>    
</div>
</div>
{% endblock %}
{% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
};
var map=new google.maps.Map(document.getElementById("map2"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap">
</script>
       <script type="text/javascript">
    {% if visite is defined %}


     loadScript( "{{ asset('assets/Chart.min.js') }}", function() {

         var data = {
          labels: [

        {% for situation in visite.situations %}
          "{{situation.produit.nom}}",
         {%endfor%}
           ],
         datasets: [
             {
        data: [
        {%if totalStock>0 %} {% for situation in visite.situations  %}{{(situation.stock*100/totalStock)|number_format(0, '.', ' ')}},{%endfor%}{%endif%}],


        backgroundColor: [{% for color in colors  %}"{{ color}}",{%endfor%}],
        hoverBackgroundColor: [{% for color in colors  %}"{{ color}}",{%endfor%}]
        }]
      };      
    var ctx = document.getElementById("pieChartCanvas").getContext("2d");
            new Chart(ctx,{
                type: 'pie',
               data: data
                });
      });
      {% endif %}
        </script>
 {% endblock %}