{% extends 'layout.html.twig' %}
{% block baniere %}
<section class="page-header page-header-xs dark">
				<div class="container">
					<h1><a href="{{ path('campagne_show',{'id':campagne.id}) }}">{{campagne.nom}}</a></h1>
                     <span class="font-lato fs-18 hidden-xs-down">Les différentes étapes du projet</span>
				</div>
	</section>
{% endblock %}
{% block body %}
		<a href="{{ path('etape_new',{'id':campagne.id}) }}" class="btn btn-reveal btn-default pull-right">
			<i class="fa fa-plus"></i>
			<span>Ajouter une étape</span>
		</a> 
        <br> <br><br><br>
          <div class="timeline"><!-- .timeline-inverse = right position [left on RTL] -->
						<div class="timeline-hline"><!-- horizontal line --></div>
 	                   <!-- POST ITEM -->
						<div class="blog-post-item">
							<!-- timeline entry -->
							<div class="timeline-entry rounded"><!-- .rounded = entry -->
								21<span>Jui</span>
								<div class="timeline-vline"><!-- vertical line --></div>
							</div>
							<!-- /timeline entry -->
							<h2><a href="#">DEPLOIMENT SUR LE TERRAIN</a></h2>
							<ul class="blog-post-info list-inline">
								<li>
									<a href="#">
										<i class="fa fa-clock-o"></i> 
										<span class="font-lato"> 21 juillet 2018</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-user"></i> 
										<span class="font-lato">Thierry Mouney</span>
									</a>
								</li>
							</ul>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, 
							by injected humour, or randomised words which don't look even slightly believable There are many variations 
							of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                            </p>
						</div>
 	                   <!-- POST ITEM -->
						<div class="blog-post-item">
							<!-- timeline entry -->
							<div class="timeline-entry rounded"><!-- .rounded = entry -->
								17<span>Jui</span>
								<div class="timeline-vline"><!-- vertical line --></div>
							</div>
							<!-- /timeline entry -->
							<h2><a href="#">RECENSEMENT DES POINTS DE VENTE</a></h2>
							<ul class="blog-post-info list-inline">
								<li>
									<a href="#">
										<i class="fa fa-clock-o"></i> 
										<span class="font-lato"> 17 juillet 2018</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-user"></i> 
										<span class="font-lato">Thierry Mouney</span>
									</a>
								</li>
							</ul>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, 
							by injected humour, or randomised words which don't look even slightly believable There are many variations 
							of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                            </p>
						</div>


 	                   <!-- POST ITEM -->
						<div class="blog-post-item">
							<!-- timeline entry -->
							<div class="timeline-entry rounded"><!-- .rounded = entry -->
								10<span>Jui</span>
								<div class="timeline-vline"><!-- vertical line --></div>
							</div>
							<!-- /timeline entry -->
							<h2><a href="#">SIGNATURE DU CONTRAT</a></h2>
							<ul class="blog-post-info list-inline">
								<li>
									<a href="#">
										<i class="fa fa-clock-o"></i> 
										<span class="font-lato"> 10 juillet 2018</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-user"></i> 
										<span class="font-lato">Luc Prosper Moni</span>
									</a>
								</li>
							</ul>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, 
							by injected humour, or randomised words which don't look even slightly believable There are many variations 
							of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                            </p>
						</div>

						<!-- POST ITEM -->
						<div class="blog-post-item">
							<!-- timeline entry -->
							<div class="timeline-entry rounded"><!-- .rounded = entry -->
								01<span>Jui</span>
								<div class="timeline-vline"><!-- vertical line --></div>
							</div>
							<!-- /timeline entry -->
							<h2><a href="#">DEBREEFING EN INTERNE</a></h2>
							<ul class="blog-post-info list-inline">
								<li>
									<a href="#">
										<i class="fa fa-clock-o"></i> 
										<span class="font-lato"> 02 juillet 2018</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-user"></i> 
										<span class="font-lato">Luc Prosper Moni</span>
									</a>
								</li>
							</ul>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, 
							by injected humour, or randomised words which don't look even slightly believable There are many variations 
							of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                            </p>
						</div>
                                             
						<!-- POST ITEM -->
						<div class="blog-post-item">
							<!-- timeline entry -->
							<div class="timeline-entry rounded"><!-- .rounded = entry -->
								29<span>Jun</span>
								<div class="timeline-vline"><!-- vertical line --></div>
							</div>
							<!-- /timeline entry -->
							<h2><a href="#">RECEPTION DU CAHIER DE CHARGE</a></h2>
							<ul class="blog-post-info list-inline">
								<li>
									<a href="#">
										<i class="fa fa-clock-o"></i> 
										<span class="font-lato">29 juin  2018</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-user"></i> 
										<span class="font-lato">Luc Prosper Moni</span>
									</a>
								</li>
							</ul>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, 
							by injected humour, or randomised words which don't look even slightly believable There are many variations 
							of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                            </p>
						</div>
                      
						<!-- /POST ITEM -->
					</div>
        {% for etape in etapes %}
            <tr>
                <td><a href="{{ path('etape_show', { 'id': etape.id }) }}">{{ etape.id }}</a></td>
                <td>{{ etape.nom }}</td>
                <td>{{ etape.description }}</td>
                <td>{{ etape.ressources }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etape_show', { 'id': etape.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('etape_edit', { 'id': etape.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
