{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Activités {% endblock %}
{% block body %}

<div id="content" class="dashboard padding-20">

            <div class="row">
               <div class="col-md-12">
                <div id="panel-1" class="panel panel-default">
                        <div class="panel-heading">
                            <span class="title elipsis">
                                <strong>Activité des auditeurs </strong> <!-- panel title -->
                            </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                        </div>
                        <!-- panel content -->
                        <div class="panel-body">

                            <div class="table-responsive">
                                <table class="table  table-vertical-middle nomargin table-bordered" id="datatable_sample">
                                    <thead>
                                        <tr>                                    
                                            <th>Non de l'auditeur</th>
                                            <th>Journee du</th>
                                            <th>Debut </th>  
                                            <th>Fin </th> 
                                       
                                        </tr>
                                    </thead>
                                    <tbody>
{% for etapeParUser in etapesParUser %}
    <tr>
  <td><a target="_blank" href="{{ path('user_show',{'id':etapeParUser.id}) }}">{{etapeParUser.username}}</a></td>
   <td>
   {% if etapeParUser.date %}
   <i class="fa fa-calendar-check-o"> </i> {{etapeParUser.date |date('d/m/Y')}}
    {% else %}
    --
    {% endif %}
    </td>
  <td>
  {% if etapeParUser.debut %}
  <i class="fa fa-clock-o"> </i> {{etapeParUser.debut|date('H:i')}} <br>
  <i class="fa fa-map-marker"> </i> [{{etapeParUser.latDebut }}, {{etapeParUser.longDebut }}] 
  {% else %}
  --
  {% endif %}  
  </td>
  <td>
  {% if etapeParUser.fin %}
  <i class="fa fa-clock-o"> </i>  {{etapeParUser.fin |date('H:i')}}  <br>
  <i class="fa fa-map-marker"> </i> [{{etapeParUser.latFin }}, {{etapeParUser.longFin }}] 
  {% else %}
  --
  {% endif %}

    </td>
</tr>
 {% endfor %}
    </tbody>
                                </table>
                                <br>
                                                <a class="btn btn-xs btn-info"  href="#">
                                                    <i class="fa fa-arrow-right"></i> 
                                                    Exporter vers (.xls)
                                                </a>
                            </div>
                        </div>
                        <!-- /panel content -->
                    </div>
                        </div>


               <div class="col-md-6">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Visites par auditeur</strong>
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                                </div>
                                <!-- panel content -->
                                <div class="panel-body">  
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#Auditeur</th>
                                                            <th>Visite</th>
                                                            <th>Derniere visite</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for visiteParUser in visitesParUser %}
                                                        <tr>
                                                            <td><a target="_blank" href="{{ path('user_show',{'id':visiteParUser.id}) }}">{{visiteParUser.username}}</a></td>
                                                            <td>{{visiteParUser.nombre}}</td>
                                                            <td>
                                                         {% if visiteParUser.date %}
                                                        {{visiteParUser.date |date('d/m/Y')}}
                                                         {% else %}
                                                           Aucune visite
                                                         {% endif %}
                                                            </td>
                                                        </tr>
                                                        {%endfor%}

                                                    </tbody>
                                                </table>
                                                <a class="btn btn-xs btn-info"  href="#">
                                                    <i class="fa fa-arrow-right"></i> 
                                                    Exporter vers (.xls)
                                                </a>

                                            </div>
                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->
                    
                        </div>
               <div class="col-md-6">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Sauvegarde des données</strong>
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->
                                </div>

                                <!-- panel content -->
                                <div class="panel-body">    
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered" >
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>#Auditeur</th>
                                                            <th>Derniere sauvegarde</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for synchroParUser in synchrosParUser %}
                                                        <tr>
                                                             <th><i class="fa fa-upload"></i> </th>
                                                            <td><a target="_blank" href="{{ path('user_show',{'id':synchroParUser.id}) }}">{{synchroParUser.username}}</a></td>
                                                            <td>   
                                                        {% if synchroParUser.date %}
                                                        {{synchroParUser.date |date('d/m/Y H:i')}}
                                                         {% else %}
                                                           Aucune sauvegarde
                                                         {% endif %}

                                                             </td>
                                                        </tr>
                                                        {%endfor%}

                                                    </tbody>
                                                </table>

                                                <a class="btn btn-xs btn-info"  href="#">
                                                    <i class="fa fa-arrow-right"></i> 
                                                    Exporter vers (.xls)
                                                </a>

                                            </div>

                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->
                    
                        </div>
             </div>
     <div class="panel panel-default">
            <div class="panel-body">
                   <div class="alert alert-bordered-dashed margin-bottom-30"><!-- DASHED -->
                           <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                          <p>
                                        Les données affichées sur cette page sont fonction de la période et de la région sélectionnées. Veillez vous assurer que vous avez bien défini la période et la région correspondante.
                                        Par défaut, les données sont celle de toute les régions pour toutes les périodes.
                             </p>
               </div>
            </div>
     </div>
     </div>
{% endblock %}
       {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
        <script type="text/javascript">
            /**
                Chart.js
                http://www.chartjs.org/
            **/
         loadScript( plugin_path + "datatables/js/jquery.dataTables.min.js", function() {
             loadScript(plugin_path + "datatables/dataTables.bootstrap.js", function(){
            if (jQuery().dataTable) {
            var table = jQuery('#datatable_sample');
            table.dataTable({
                    "columns": [
                             {
                                "orderable": true
                            },
                            {
                                "orderable": true
                            }, 
                            {
                                "orderable": false
                            },
                             {
                                "orderable": false
                            }],
                            "lengthMenu": [
                                [20, 50, 100, -1],
                                [20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": [{  // set default column settings
                                'orderable': false,
                                'targets': [0]
                            }, {
                                "searchable": false,
                                "targets": [0]
                            }],
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });

                        
               }
             });

                
            });
        </script>

       {% endblock %}