{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etape</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etape.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if etape.date %}{{ etape.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{% if etape.heure %}{{ etape.heure|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ etape.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ etape.longitude }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ etape.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etape_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
