            {% for campagne in campagnes %}  
                            <div class="row m-0">
                                <div class="col-md-8 col-sm-8">
                                    <div class="heading-title heading-border">
                                        <h2>{{campagne.nom}}</h2>
                                        <ul class="list-inline categories m-0">
                                            <li>
                                                <a href="#">Vache quit rit</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="masonry-gallery columns-5 clearfix lightbox" data-img-big="1" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>
                                      {#  {% image '@AppBundle/Resources/public/activations/congo/backtoschool/images/*' %}
                                        <a class="image-hover" href="{{ asset_url }}">
                                            <img src="{{ asset_url }}" alt="..."/>
                                        </a>
                                        {% endimage %} #}
                                         {% for i in 1..10 %}  
                                        <a class="image-hover" href="{{ asset('activations/'~campagne.pays~'/'~campagne.nom~'/images/'~i~'.jpg') }}">
                                            <img src="{{ asset('activations/'~campagne.pays~'/'~campagne.nom~'/images/'~i~'.jpg') }}" alt="..."/>
                                        </a>
                                        {% endfor %}  
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="card card-default">
                                        <div class="card-block">
                                            <p class="font-lato fs-18">{{campagne.description}}</p>
                                            <ul class="portfolio-detail-list list-unstyled m-0">
                                                <li>
                                                    <span>
                                                        <i class="fa fa-user"></i>Compagnie:</span>
                                                    FROMAGERIE BEL.</li>
                                                <li>
                                                    <span>
                                                        <i class="fa fa-calendar"></i>Debut:</span>
                                                    {{campagne.datedebut|date('d/m/Y')}}
                                                    </li>

                                                <li>
                                                    <span>
                                                        <i class="fa fa-eye"></i>Statut:</span>
                                                      {{campagne.statut}}
                                                       <a  class="btn btn-default btn-outline  btn-round btn-sm" href="{{ path('etape_index',{'id':campagne.id}) }}"> Voir plus</a>
                                                    </li>
                                                <li>
                                                <br>
                                                    <a type="button" class="btn btn-success  btn-round btn-shadow-1" href="{{ path('campagne_show',{'id':campagne.id}) }}"> Afficher les détails </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <!-- Social Icons -->
                                            <a href="https://www.facebook.com/LPMConsulting/" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                                <i class="icon-facebook"></i>
                                                <i class="icon-facebook"></i>
                                            </a>
                                            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                                <i class="icon-twitter"></i>
                                                <i class="icon-twitter"></i>
                                            </a>
                                            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
                                                <i class="icon-gplus"></i>
                                                <i class="icon-gplus"></i>
                                            </a>

                                            <!-- /Social Icons -->
                                        </div>
                                    </div>
                                </div>
                            </div> 
                     {% endfor %}                         