{% extends 'layout.html.twig' %}
{% block baniere %}
<section class="page-header page-header-xs dark">
				<div class="container">
					<h1>{{campagne.nom}} - {{campagne.pays}}</h1>
                     <span class="font-lato fs-18 hidden-xs-down">Présentation détaillée de la campagne</span>
				</div>
	</section>
{% endblock %}
{% block body %}
<br>
 <div class="row">

	<!-- tabs -->
	<div class="col-md-3 col-sm-3">
		<ul class="nav nav-tabs nav-stacked nav-alternate">
			<li class="nav-item active">
				<a class="nav-link active" href="#tab_f" data-toggle="tab">
					SOMMAIRE
				</a>
			</li>        
			<li class="nav-item">
				<a class="nav-link" href="#tab_g" data-toggle="tab">
					MECANISME
				</a>
			</li>
            <li class="nav-item">
				<a class="nav-link" href="#tab_j" data-toggle="tab">
					PRINCIPE
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#tab_h" data-toggle="tab">
					CONCURRENCE
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#tab_i" data-toggle="tab">
					FEEDBACK
				</a>
			</li>
		</ul>
	</div>

	<!-- tabs content -->
	<div class="col-md-9 col-sm-9">
		<div class="tab-content tab-stacked nav-alternate">
<div id="tab_f" class="tab-pane active">
	<h4>Détails de la campagne</h4>
     <p class="font-lato fs-18">{{campagne.description}}</p>
    <div class="card-block">
        <ul class="portfolio-detail-list list-unstyled m-0">
            <li>
                <span>
                    <i class="fa fa-user"></i>Compagnie:</span>
                FROMAGERIE BEL.</li>
            <li>
                <span>
                    <i class="fa fa-calendar"></i>Debut:</span>
                {{campagne.datedebut|date('d/m/Y')}}</li>
            <li>
                <span>
                    <i class="fa fa-eye"></i>Pays:</span>
                {{campagne.pays}}</li>
            <li>
            <li>
                <span>
                    <i class="fa fa-eye"></i>Villes:</span>
                {{campagne.ville}}</li>
            <li> 

              <li>
                 <span>
                     <i class="fa fa-eye"></i>Statut:</span>
                        {{campagne.statut}}
                         <a  class="btn btn-default btn-outline  btn-sm  btn-round btn-sm" href="#"> Déroulement</a>
                    </li>
                <li>                       
        </ul>
            <a type="button" class="" href="{{ path('campagne_edit',{'id':campagne.id}) }}"> Modifier les informations</a>
        
    </div>
</div>
        <div id="tab_g" class="tab-pane ">
			<h4>Mécanisme de l'activité</h4>
                 <p>
				{{campagne.mecanisme|raw}}
                <p>
                <a type="button" class="" href="{{ path('campagne_edit_one',{'id':campagne.id,'field':'mecanisme'}) }}"> Modifier </a>
			</div>
			<div id="tab_j" class="tab-pane">
				<h4>Principe de l'activité</h4>
                <p>
				{{campagne.principe|raw}}
                </p>
                <a type="button" class="" href="{{ path('campagne_edit_one',{'id':campagne.id,'field':'principe'}) }}"> Modifier </a>
			</div>
			<div id="tab_h" class="tab-pane">
				<h4>Activité de la concurrence</h4>
                <p>
				{{campagne.concurrence|raw}}
                </p>
                <a type="button" class="" href="{{ path('campagne_edit_one',{'id':campagne.id,'field':'concurrence'}) }}"> Modifier </a>
			</div>            
			<div id="tab_i" class="tab-pane">
				<h4>Feedback consomateurs</h4>
                <p>
				{{campagne.feedback|raw}}
                </p>
                <a type="button" class="" href="{{ path('campagne_edit_one',{'id':campagne.id,'field':'feedback'}) }}"> Modifier </a>
			</div>
		</div>
	</div>
</div>   
<br><br>
 <div class="row">
<ul class="nav nav-tabs nav-justified">
	<li class="nav-item active"><a class="nav-link " href="#home_justified" data-toggle="tab">Télecharger les rapports</a></li>
	<li class="nav-item"><a class="nav-link" href="#profile_justified" data-toggle="tab">Consulter la banque de données</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="home_justified">
 <div class="container">
 <br>
   <div class="card-block">
        <ul class="portfolio-detail-list list-unstyled m-0">
        {% for rapport in rapports %}
            <li>
                <a href="{{ asset('activations/'~campagne.pays~'/'~campagne.folder~'/rapports/'~rapport~'') }}">{{rapport}}</a>
            </li>   
        {% endfor %} 
        {% if campagne.drapports is not null %} 
            <li>
                <a href="{{campagne.drapports}}">Rapport d’activité BTS  S5.pdf</a>
            </li>  
        {% endif %}             
        </ul>
     </div>
      </div>    
 </div>
 <div class="tab-pane fade" id="profile_justified">
 <div class="container">
 <br>
 <div class="card-block">
        <ul class="portfolio-detail-list list-unstyled m-0">
        {% for donnee in donnees %}
            <li>
                <a href="{{ asset('activations/'~campagne.pays~'/'~campagne.folder~'/donnees/'~donnee~'') }}">{{donnee}}</a>
            </li>   
        {% endfor %}        
        {% if campagne.dprospects is not null %} 
            <li>
                <a href="{{campagne.dprospects}}">Liste des prospects</a>
            </li>  
        {% endif %}                 
        </ul>
     </div>
      </div>       
 </div>
</div> 
</div>
<br><br><br><br><br>
<div class="row">
<h4>Gallerie d'images</h4>
    <div class="masonry-gallery columns-5 clearfix lightbox" data-img-big="1" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>
        {% for image in campagne.pictures %}
            <a class="image-hover" href="{{ asset('activations/'~campagne.pays~'/'~campagne.folder~'/images/'~image~'') }}">
                <img src="{{ asset('activations/'~campagne.pays~'/'~campagne.folder~'/images/'~image~'') }}" alt="..."/>
            </a>
        {% endfor %}
    </div>
</div>
   {% endblock %}
    {% block pagination %}         

   {% endblock %}