{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Contacts clients {% endblock %}
{% block body %}
			<div class="row">
	                    <div class="col-md-12">
	                        <div class="card card-stats">
	                            <div class="card-header" data-background-color="orange">								
                                    <h4 class="title">Contacts des clients</h4>
	                                <p class="category">Historique des Contacts et relance des clients</p>
	                            </div>
									<div class="card-content">
									   <p class="category">Personnes contactées</p>
									<h3 class="title">{{phonings|length}}</h3>
								</div>	
	                            <div class="card-footer table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Nom du Client</th>
	                                    	<th>Telephone</th>
	                                    	<th>Date & Heure</th>
											<th>Nombre d'appel</th>
											<th>Nom du Commercial</th>
											<th>Issu de l'appel</th>
	                                    </thead>
	                                    <tbody>
										 {% for phoning in phonings %}
	                                        <tr>
	                                        	<td>{{phoning.client}}</td>
	                                        	<td>{{phoning.telephone}}</td>
	                                        	<td>{{phoning.date| date('d/m/Y H:i')}}</td>
												<td>{{phoning.nombre}} appels</td>
												<td>{{phoning.commercial}}</td>
												<td class="text-primary">{{phoning.issu}}</td>
	                                        </tr>
										{% endfor %}		                                        													
	                                    </tbody>
	                                </table>

	                            </div>
	                        </div>
	                    </div>
</div>
{% endblock %}
