{% extends 'base.html.twig' %}

{% block body %}
    <h1>Phoning</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ phoning.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if phoning.date %}{{ phoning.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{% if phoning.heure %}{{ phoning.heure|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Issu</th>
                <td>{{ phoning.issu }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('phoning_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('phoning_edit', { 'id': phoning.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
