{% extends 'base.html.twig' %}

{% block body %}
    <h1>Infos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Displayname</th>
                <th>Email</th>
                <th>Photourl</th>
                <th>Langue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for info in infos %}
            <tr>
                <td><a href="{{ path('info_show', { 'id': info.id }) }}">{{ info.id }}</a></td>
                <td>{{ info.displayName }}</td>
                <td>{{ info.email }}</td>
                <td>{{ info.photoURL }}</td>
                <td>{{ info.langue }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('info_show', { 'id': info.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('info_edit', { 'id': info.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('info_new') }}">Create a new info</a>
        </li>
    </ul>
{% endblock %}
