{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plats list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td><a href="{{ path('admin_plat_show', { 'id': plat.id }) }}">{{ plat.id }}</a></td>
                <td>{{ plat.nom }}</td>
                <td>{{ plat.prix }}</td>
                <td>{{ plat.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_plat_show', { 'id': plat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_plat_edit', { 'id': plat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_plat_new') }}">Create a new plat</a>
        </li>
    </ul>
{% endblock %}
