<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>{% block title %}API.LPM Consulting!{% endblock %}</title>		
		<meta name="description" content="" />
		<meta name="Author" content="PENKA WILLIAMS MAGLOIRE" />
		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />
		<!-- CORE CSS -->
		 {% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css"  />
        <link rel="stylesheet" href="{{ asset('assets/css/essentials.css') }}"  type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/layout.css') }}" type="text/css"  />
        <link rel="stylesheet" href="{{ asset('assets/css/color_scheme/green.css') }}"  type="text/css"  id="color_scheme" />
        {% endblock %}
	</head>
	<!--
		.boxed = boxed version
	-->
	<body>


		<!-- WRAPPER -->
		<div id="wrapper">

			<!-- 
				ASIDE 
				Keep it outside of #wrapper (responsive purpose)
			-->
			<aside id="aside">

				<nav id="sideNav"><!-- MAIN MENU -->
					<ul class="nav nav-list">
						<li><!-- dashboard -->
							<a class="dashboard" href="{{ path('homepage') }}"><!-- warning - url used by default by ajax (if eneabled) -->
								<i class="main-icon fa fa-dashboard"></i> <span>Accueil</span>
							</a>
						</li>						
						<li>
							<a href="#">
								<i class="fa fa-menu-arrow pull-right"></i>
								<i class="main-icon fa fa-bar-chart-o"></i> <span>Les points de vente</span>
							</a>
							<ul><!-- submenus -->
								<li><a href="{{ path('pointvente_all_page') }}">Les points de vente</a></li>
								<li><a href="">Geolocalisation</a></li>
								<li><a href="{{ path('situationPointVente_all_page') }}">Retail audit</a></li>
								
							</ul>
						</li>
						<li><!-- dashboard -->
							<a class="dashboard" href="{{ path('chargement_all_page') }}"><!-- warning - url used by default by ajax (if eneabled) -->
								<i class="main-icon fa fa-cart"></i> <span>Les stocks</span>
							</a>
						</li>
					</ul>

				</nav>

				<span id="asidebg"><!-- aside fixed background --></span>
			</aside>
			<!-- /ASIDE -->


			<!-- HEADER -->
			<header id="header">

				<!-- Mobile Button -->
				<button id="mobileMenuBtn"></button>

				<nav>

					<!-- OPTIONS LIST -->
					<ul class="nav pull-right">

						<!-- USER OPTIONS -->
						<li class="dropdown pull-left">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								<img class="user-avatar" alt="" src="assets/images/noavatar.jpg" height="34" /> 
								<span class="user-name">
									<span class="hidden-xs">
										{{  app.user.username }}<i class="fa fa-angle-down"></i>
									</span>
								</span>
							</a>
							<ul class="dropdown-menu hold-on-click">
								<li><!-- settings -->
									<a href="#"><i class="fa fa-cogs"></i> Settings</a>
								</li>

								<li class="divider"></li>
                                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
								<li><!-- logout -->
									<a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i>Deconecte</a>
								</li>
								 {% endif %}
							</ul>
						</li>
						<!-- /USER OPTIONS -->

					</ul>
					<!-- /OPTIONS LIST -->

				</nav>

			</header>
			<!-- /HEADER -->


			<!-- 
				MIDDLE 
			-->
			<section id="middle">
              {% block body %}

              {% endblock %}


			</section>
			<!-- /MIDDLE -->

		</div>
       {% block javascripts %}
	   <script type="text/javascript"> var plugin_path = 'assets/plugins/';</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
       {% endblock %}

	</body>
</html>