<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>
        {% block title %}Provisional{% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="Author" content="PENKA WILLIAMS MAGLOIRE"/>
    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"/>
    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/assets/vendor/nucleo/css/nucleo.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/app/assets/css/argon.css?v=1.0.0') }}" type="text/css"/>
    {% endblock %}
</head>
<body  {% block class %}  class="bg-default" {% endblock %} >
{% block fos_user_content %}


{% endblock fos_user_content %}
{% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/app/assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/assets/js/argon.js?v=1.0.0') }}"></script>
{% endblock %}
    </body>
</html>