<!DOCTYPE html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}AllReport {% endblock %}</title>       
        <meta name="description" content="" />
        <meta name="Author" content="PENKA WILLIAMS MAGLOIRE" />
        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!-- WEB FONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />
         {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('home/plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css"  />
        <link rel="stylesheet" href="{{ asset('home/css/essentials.css') }}"  type="text/css" />
        <link rel="stylesheet" href="{{ asset('home/css/layout.css') }}" type="text/css"  />
        	<link href="{{ asset('home/css/header-1.css') }}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ asset('home/css/color_scheme/green.css') }}"  type="text/css"  id="color_scheme" />


        
        {% endblock %}
    </head>
	<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="sticky clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo pull-left" href="#">
							<img src="" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse pull-right nav-main-collapse collapse">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="#home">
											ACCUEIL
										</a>
									</li>
									<li><!-- PRICING -->
										<a href="#about">
											A PROPOS
										</a>
									</li>
									<li><!-- TESTIMONIALS -->
										<a href="{{ path('user_homepage') }}">
								 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{  app.user.username }}{% else %}Connexion{% endif%}
										</a>
									</li>

								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>


			<!-- HOME -->
			<section id="home" class="height-450" style="background:url('{{ asset('home/images/wall2.jpg') }}')">
				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						
						<div class="container text-center">
							
							<h1 class="nomargin size-50 weight-300 wow fadeInUp" data-wow-delay="0.4s">Bienvenue sur AllReport</h1>
							<p class="lead font-lato size-30 wow fadeInUp" data-wow-delay="0.7s">Une plateforme unique pour suivre et gérer vos forces de vente.</p>
							
							<div class="margin-top-30">
			  <a href="{{ path('mobileapp') }}" class="btn btn-3d btn-lg btn-teal"><i class="glyphicon glyphicon-th-large"></i>Telécharger sur mobile</a>
								<span class="size-17 hidden-xs">&nbsp; OU' &nbsp;</span>		
						<a href="{{ path('user_homepage') }}" class="btn btn-3d btn-lg btn-red"><i class="glyphicon glyphicon-user"></i>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{  app.user.username }}{% else %}Se connecter{% endif%}</a>
							

							</div>

						</div>

					</div>
				</div>
			</section>
			<!-- /HOME -->

			<!-- CALLOUT -->
			<section class="callout-dark heading-title heading-arrow-bottom">
				<div class="container">

					<div class="text-center">
						<h3 class="size-30">Qui sont vos concurrents ?</h3>
						<p>Nous menons des études marketing de terrain pour vous fournir des données stratégiques sur la concurrence.</p>
					</div>

				</div>
			</section>
			<!-- /CALLOUT -->


			
			<!-- -->
			<section class="nopadding">
				
				<div class="row nomargin">
				
					<!-- LEFT -->
					<div class="col-md-6 col-sm-6 nopadding nomargin">

						<img class="img-responsive" src="https://scontent-fra3-1.xx.fbcdn.net/v/t31.0-8/16423116_735656039919711_1052587017973108156_o.jpg?oh=e0b3adb7d006f38307711609a3280683&oe=594B0326" alt="image" />

					</div>

					<!-- RIGHT -->
					<div class="col-md-6 col-sm-6 nopadding nomargin">
					
						<div class="padding-40">
				
							<h2>Des campagnes marketing sur mesure</h2>
							<p>A partir des données précieuse de votre marché, nous vous proposons une stratégie taillée pour vous.</p>

							<p class="font-lato size-18">
							La réussite d'une campagnes marketing est fonction des données que seul les experts maitrisent les contours. De quoi souffre marché ?
							</p>


							<div class="row margin-top-10">

								<div class="col-md-6">
									<div class="heading-title heading-border-bottom heading-color">
										<h3>Precision</h3>
									</div>
									<p>Une campagne doit être précise afin de se concentrer sur les objectifs. 
									 Nous le faisons depuis six années.

									</p>
								</div>

								<div class="col-md-6">
									<div class="heading-title heading-border-bottom heading-color">
										<h3>Mésurabilité</h3>
									</div>
									<p><b>"Tout ce qui se mesure peut s'amméliorer"</b>. 
									Nous travaillons avec des chiffres recoltés et disponibles en temps réel.</p>

								</div>

							</div>


						</div>
					</div>

				</div>
				
			</section>

			<!-- -->
			<section>
				<div class="container">

					<div class="heading-title heading-border">
						<h3>Quelques <span>Projets</span></h3>
						<p class="font-lato size-14">Projets réalisés avec nos clients.</p>
					</div>

					<!-- 
						RELATED CAROUSEL 

						controlls-over		= navigation buttons over the image 
						buttons-autohide 	= navigation buttons visible on mouse hover only

						owl-carousel item paddings
							.owl-padding-0
							.owl-padding-1
							.owl-padding-2
							.owl-padding-3
							.owl-padding-6
							.owl-padding-10
							.owl-padding-15
							.owl-padding-20
					-->
					<div class="text-center">
						<div class="owl-carousel owl-padding-1 nomargin buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items": "4", "autoPlay": 3500, "navigation": true, "pagination": false}'>
							
							<!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="https://scontent-fra3-1.xx.fbcdn.net/v/t31.0-8/16402596_735656656586316_6827035783783759357_o.jpg?oh=ce54ef61a12d038e2b0136f7c2029777&oe=590E4F94" data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

											<!-- details -->
											<a class="ico-rounded" target="_blank" href="https://www.facebook.com/440557482762903/photos/?tab=album&album_id=735655726586409">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

									<img class="img-responsive" src="https://scontent-fra3-1.xx.fbcdn.net/v/t31.0-8/16402596_735656656586316_6827035783783759357_o.jpg?oh=ce54ef61a12d038e2b0136f7c2029777&oe=590E4F94" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Vodafone à POMOTE</h3>
									<ul class="list-inline categories nomargin">
										<li><a href="#">Mise sur pieds d'un stand</a></li>
										<li><a href="#">Promote 2017</a></li>
									</ul>
								</div>

							</div>
							<!-- /item -->

							<!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="https://scontent-fra3-1.xx.fbcdn.net/v/t31.0-8/16422961_735590246592957_4627249929964880955_o.jpg?oh=2cfdec9e6f2d4f7d12cd40a7b8917e86&oe=59083155" data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

											<!-- details -->
											<a class="ico-rounded" target="_blank" href="https://www.facebook.com/440557482762903/photos/?tab=album&album_id=735588526593129">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

									<img class="img-responsive" src="https://scontent-fra3-1.xx.fbcdn.net/v/t31.0-8/16422961_735590246592957_4627249929964880955_o.jpg?oh=2cfdec9e6f2d4f7d12cd40a7b8917e86&oe=59083155" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>DIAGEO "Guinness"</h3>
									<ul class="list-inline categories nomargin">
										<li><a href="#">Campagne</a></li>
										<li><a href="#">Evenement</a></li>
									</ul>
								</div>

							</div>
							<!-- /item -->

							<!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="https://scontent-fra3-1.xx.fbcdn.net/v/t31.0-8/16402589_735585456593436_5666987180689092505_o.jpg?oh=c41c0b345e63f58525955dd1073d9491&oe=590C7CEB" data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

											<!-- details -->
											<a class="ico-rounded" target="_blank" href="https://www.facebook.com/440557482762903/photos/?tab=album&album_id=735583033260345">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

									<img class="img-responsive" src="https://scontent-fra3-1.xx.fbcdn.net/v/t31.0-8/16402589_735585456593436_5666987180689092505_o.jpg?oh=c41c0b345e63f58525955dd1073d9491&oe=590C7CEB" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>DOLIPRANE 1000</h3>
									<ul class="list-inline categories nomargin">
										<li><a href="#">Lancement de produit</a></li>
										<li><a href="#">Forum</a></li>
									</ul>
								</div>

							</div>
							<!-- /item -->

							<!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="https://scontent-fra3-1.xx.fbcdn.net/v/l/t31.0-8/12828360_580592498759400_5239881893275568699_o.jpg?oh=882924fe245b6451351a1e5ad1ef6c43&oe=593B96EA" data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

											<!-- details -->
											<a class="ico-rounded" target="_blank" href="https://www.facebook.com/440557482762903/photos/?tab=album&album_id=486688364816481">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

									<img class="img-responsive" src="https://scontent-fra3-1.xx.fbcdn.net/v/l/t31.0-8/12828360_580592498759400_5239881893275568699_o.jpg?oh=882924fe245b6451351a1e5ad1ef6c43&oe=593B96EA" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Guiness Race of Hope</h3>
									<ul class="list-inline categories nomargin">
										<li><a href="#">Capgne</a></li>
										<li><a href="#">Evenement</a></li>
									</ul>
								</div>

							</div>
							<!-- /item -->

							<!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-0/p320x320/12439527_557196821098968_3047418091564615873_n.jpg?oh=d7681e2cfe1899c744e8c469ed1ce9f8&oe=59414988 data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

											<!-- details -->
											<a class="ico-rounded" target="_blank" href="https://www.facebook.com/LPMConsulting/posts/557199361098714">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

									<img class="img-responsive" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-0/p320x320/12439527_557196821098968_3047418091564615873_n.jpg?oh=d7681e2cfe1899c744e8c469ed1ce9f8&oe=59414988" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Un centre hospitalier</h3>
									<ul class="list-inline categories nomargin">
										<li><a href="#">Pointe Noir</a></li>
										<li><a href="#">Orgqnisqtion</a></li>
									</ul>
								</div>

							</div>
							<!-- /item -->



						</div>
					</div>

				</div>
			</section>
			<!-- / -->



			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">

					<div class="row">
						
						<div class="col-md-4">
							<!-- Footer Logo -->
				
							<img class="footer-logo" src="{{ asset('home/images/lpm.png') }}" alt="" />
								<ul class="list-unstyled">
									<li class="footer-sprite address">
										B.P 21132<br>
										Douala, Cameroun<br>
										Pont Bonabassem<br>
									</li>
									<li class="footer-sprite phone">
										Tel: 00237 233 410 029
									</li>
									<li class="footer-sprite email">
										<a href="mailto:info@lpmconsulting.fr">info@lpmconsulting.fr</a>
									</li>
								</ul>
							<!-- /Contact Address -->

						</div>

						<div class="col-md-4">

							<!-- Latest Blog Post -->
							<h4 class="letter-spacing-1">ACTIVITES</h4>
							<ul class="footer-posts list-unstyled">
								<li>
									<a href="#">Etude des forces de vente</a>
									
								</li>
								<li>
									<a href="#">Gestion des campagnes marketing</a>
								</li>
								<li>
									<a href="#">Fournisseur de solution de marketing intelligent</a>
									
								</li>
							</ul>
							<!-- /Latest Blog Post -->

						</div>



						<div class="col-md-4">

							<!-- Newsletter Form -->
							<h4 class="letter-spacing-1">COMMUNAUTES</h4>
							<p>Rejoignez notre communauté en ligne</p>
							<!-- Social Icons -->
							<div class="margin-top-20">
							<a href="https://www.facebook.com/LPMConsulting/" target="_blank" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">

									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>

								<a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>

								<a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
									<i class="icon-rss"></i>
									<i class="icon-rss"></i>
								</a>
					
							</div>
							<!-- /Social Icons -->

						</div>

					</div>

				</div>

				<div class="copyright">
					<div class="container">
						<ul class="pull-right nomargin list-inline mobile-block">
							
							<li>&bull;</li>
							
						</ul>
						&copy; 2016 Tous droits reservés, LPM Consulting.
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>
	<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
       {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('home/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('home/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('home/js/scripts.js') }}"></script>

       {% endblock %}		

	</body>
</html>