{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Dernières visites {% endblock %}
  {% block body %}

        <div id="content" class="dashboard padding-20">
                    <!-- BOXES -->
                    <div class="row">

                        <!-- Feedback Box -->
                        <div class="col-md-2 col-sm-6">
                            <!-- BOX -->
                            <div class="box danger"><!-- default, danger, warning, info, success -->
                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
       <h4>{% if nombrePointVente==0%}<a href="{{ path('pointvente_index') }}">Aucun point de vente</a>{% else %}<a href="{{ path('pointvente_index') }}">{{nombrePointVente|number_format(0, ',', '.')}} points de vente recencés</a>{% endif%}</h4>
            <small class="block">{% if nombrePointVente==0%}Aucun PDV visité{% else %}{{nombrePointVenteVisite}} PDV visités{% endif%}</small>
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="box-body text-center">
                                </div>
                            </div>
                            <!-- /BOX -->

                        </div>

                        <!-- Profit Box -->
                        <div class="col-md-2 col-sm-6">

                            <!-- BOX -->
                            <div class="box warning"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4><a href="{{ path('visites') }}">{{tauxExc|number_format(0, ',', '.')}}%: Exclusivité pour SIAT</a></h4>
                         <small class="block">
                         {% if nombrePointVenteVisite==0%}
                         --
                         {% else %}
                             {% if exc>0%}
                         {{exc|number_format(0, ',', '.')}} P.D.V ont l'exclusivité
                           {% else %}
                          Aucun pdv n'a l'exclusivité. 
                           {% endif%}                         
                          
                           {% endif%}

                           </small>
                               <i class="fa fa-bar-chart-o"></i>
                                </div>

                                <div class="box-body text-center">

                                </div>

                            </div>
                            <!-- /BOX -->

                        </div>
                        <!-- Online Box -->
                        <div class="col-md-2 col-sm-6">

                            <!-- BOX -->
                            <div class="box default"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4><a href="{{ path('visites') }}">{{tauxAff|number_format(0, ',', '.')}}%:Taux de présence d'affiches</a></h4>
                    <small class="block">
                    {% if nombrePointVenteVisite==0%}
                    --
                    {% else %} 
                             {% if nAff>0%}
                          {{nAff |number_format(0, ',', '.')}} P.D.V n'en ont pas.
                           {% else %}
                           Tous les pdv ont des affiches. 
                           {% endif%}                   
                    
                    {% endif%}
                    </small>
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="box-body text-center">

                                </div>

                            </div>
                            <!-- /BOX -->

                        </div>


                        <!-- Online Box -->
                        <div class="col-md-2 col-sm-6">

                            <!-- BOX -->
                            <div class="box info"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4><a href="{{ path('visites') }}">{{tauxMap|number_format(0, ',', '.')}}%: Taux de mise en avant</a></h4>
                          <small class="block">
                          {% if nombrePointVenteVisite==0%}
                          --
                          {% else %}
                           {% if nMap>0%}
                          {{nMap |number_format(0, ',', '.')}} PDV ne respectent pas. 
                           {% else %}
                           Tous les pdv respectent. 
                           {% endif%}
                            {% endif%}
                            </small>
                                    <i class="fa fa-globe"></i>
                                </div>

                                <div class="box-body text-center">

                                </div>

                            </div>
                            <!-- /BOX -->

                        </div>
                        <!-- Online Box -->
                        <div class="col-md-2 col-sm-6">

                            <!-- BOX -->
                            <div class="box warning"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4><a href="{{ path('visites') }}">{{tauxRpd|number_format(0, ',', '.')}}% : Respect de prix de détail</a></h4>
                          <small class="block">
                          {% if nombrePointVenteVisite==0%}
                          --
                          {% else %} 
                          {% if nRpd>0%}
                          {{nRpd |number_format(0, ',', '.')}} PDV ne respectent pas. 
                           {% else %}
                           Tous les pdv respectent. 
                           {% endif%}

                          {% endif%}
                          </small>
                                    <i class="fa fa-globe"></i>
                                </div>

                                <div class="box-body text-center">

                                </div>
                            </div>
                            <!-- /BOX -->
                        </div>
                        <!-- Online Box -->
                        <div class="col-md-2 col-sm-6">
                            <!-- BOX -->
                            <div class="box success"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4><a href="{{ path('visites') }}">
                                    {{tauxpas_client|number_format(0, ',', '.')}}%: Présence de produits
                                    </a></h4>
                           <small class="block">
                            {% if pas_client>0%}
                          {{pas_client |number_format(0, ',', '.')}} PDV ne vendent pas. 
                           {% else %}
                           Tous les pdv vendent. 
                           {% endif%}

                           </small>
                                    <i class="fa fa-globe"></i>
                                </div>

                                <div class="box-body text-center">

                                </div>

                            </div>
                            <!-- /BOX -->

                        </div>

                    </div>
                    <div class="row">
               <div class="col-md-12">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Progression des indicateurs par semaine </strong> ({% if nombrePointVente==0%}Aucun PDV visité{% else %}{{nombrePointVenteVisite}} PDV visités{% endif%})
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                                </div>

                                <!-- panel content -->
                                <div class="panel-body">    


                         <canvas class="chartjs fullwidth height-450" id="barChartCanvas" ></canvas>
                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->
                    
                        </div>

               <div class="col-md-6">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Stock par produit aux derniere visite </strong>( pour {{nombrePointVenteVisite}} P.D.V visités)
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                                </div>

                                <!-- panel content -->
                                <div class="panel-body">  
                                            <div class="table-responsive">
                                             <h3>SIAT</h3>

                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#Produits</th>
                                                            <th>Stock</th>
                                                            <th>Moyenne</th>
                                                             <th>part/SIAT</th>
                                                             <th>part/Global</th>
                                                             <th>Présence</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                   
                                                    {% for situation in situations if situation.dossier=='produit' %}
                                                        <tr>
                                                            <td class="col-md-4"><a href="#">{{situation.id}}</a></td>
                                                            <td>{{situation.sd|number_format(0, '.', ' ')}}</td>
                                                            <td>{{(situation.sd/nombrePointVenteVisite)|number_format(0, '.', ' ')}}</td>
                                                            <td>{%if totalStockSiat>0 %}{{(situation.sd*100/totalStockSiat)|number_format(0, '.', ' ')}}%{% else  %}--{%endif %}</td>
                                                            <td>{%if totalStock>0 %}{{(situation.sd*100/totalStock)|number_format(0, '.', ' ')}}%{% else  %}--{%endif %}</td>
                                                            <td>{%if nombrePointVenteVisite>0 %}{{(situation.presence*100/nombrePointVenteVisite)|number_format(0, '.', ' ')}}%{% else  %}--{%endif %}</td>                                                            
                                                        </tr>
                                                        {%endfor%}
                                                        <tr>
           <td>PART SIAT</td>
        <td><b>{{totalStockSiat|number_format(0, '.', ' ')}}</b></td>
        <td><b>{%if nombrePointVenteVisite>0 %}{{(totalStockSiat/nombrePointVenteVisite)|number_format(0, '.', ' ')}}{% else %}--{%endif %}</b></td>
         <td><b>{%if totalStockSiat>0 %}{{(totalStockSiat*100/totalStockSiat)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</b></td>
        <td><b>{%if totalStockSiat>0 %}{{(totalStockSiat*100/totalStock)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <h3>Concurrence</h3>
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#Produits</th>
                                                            <th>Stock</th>
                                                            <th>Moyenne</th>
                                                             <th>Part/Con</th>
                                                             <th>Part/Global</th>
                                                             <th>Présence</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for situation in situations if situation.dossier=='concurrence' %}
                                                        <tr>
                                                            <td class="col-md-4"><a href="#">{{situation.id}}</a></td>
                                                            <td>{{situation.sd|number_format(0, '.', ' ')}}</td>
                                                            <td>{{(situation.sd/nombrePointVenteVisite)|number_format(0, '.', ' ')}}</td>
                                                            <td>{%if totalStockCon>0 %}{{(situation.sd*100/totalStockCon)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</td>        
                                                            <td>{%if totalStock>0 %}{{(situation.sd*100/totalStock)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</td>
                                                            <td>{%if nombrePointVenteVisite>0 %}{{(situation.presence*100/nombrePointVenteVisite)|number_format(0, '.', ' ')}}%{% else  %}--{%endif %}</td>                                                             
                                                        </tr>
                                                        {%endfor%}
                                                        <tr>
                <td>PART concurrence</td>
              <td><b>{{totalStockCon|number_format(0, '.', ' ')}}</b></td>
             <td><b>{%if nombrePointVenteVisite>0 %}{{(totalStockCon/nombrePointVenteVisite)|number_format(0, '.', ' ')}}{% else %}--{%endif %}</b></td>
                          <td><b>{%if totalStockCon>0 %}{{(totalStockCon*100/totalStockCon)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</b></td>
             <td><b>{%if totalStock>0 %}{{(totalStockCon*100/totalStock)|number_format(0, '.', ' ')}}%{% else %}--{%endif %}</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                                <a class="btn btn-xs btn-info"  href="{{ path('statistiques_dernier_excel') }}">
                                                    <i class="fa fa-arrow-right"></i> 
                                                    Exporter vers (.xls)
                                                </a>

                                            </div>



                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->
                    
                        </div>

               <div class="col-md-6">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>REPARTITION AUX DERNIERES VISITES</strong>
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->   
                                </div>

                                <!-- panel content -->
                                <div class="panel-body">   
                             <canvas class="chartjs height-300" id="pieChartCanvas" width="547" height="300"></canvas>

                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->
                    
                        </div>


               <div class="col-md-6">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Légende</strong>
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options --> 
                                </div>

                                <!-- panel content -->
                                <div class="panel-body">   
                                <ul class="list-unstyled list-hover slimscroll height-200" data-slimscroll-visible="true"> 
                                    <li>
                                    <span class="label label-default">PDV</span>
                                     Point de vente
                                    </li>
                                    <li>
                                    <span class="label label-default">MVJ</span>
                                     Moyenne de vente par jour
                                    </li> 
                                    <li>
                                    <span class="label label-default">SD</span>
                                     Stock disponible en detail
                                    </li>
                                    <li>
                                    <span class="label label-default">SG</span>
                                    Stock disponible en gros
                                    </li> 
                                    <li>
                                    <span class="label label-default">ECL</span>
                                    Ecart de livraison moyen
                                    </li>
                                    <li>
                                    <span class="label label-default">MAP</span>
                                     Taux de mise en avant du produit
                                    </li>
                                    <li>
                                    <span class="label label-default">PRE</span>
                                     Taux disponibilité d'un présentoire
                                    </li>
                                    <li>
                                    <span class="label label-default">RPD</span>
                                     Taux de respect de prix au détail
                                    </li>

                                   <li>
                                      <span class="label label-default">RPG</span>
                                     Taux de respect de prix de gros
                                    </li>                                  

                                    </ul>
                                    <br>

                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->                    
                        </div>
                      </div>

     <div class="panel panel-default">
            <div class="panel-body">
                   <div class="alert alert-bordered-dashed margin-bottom-30"><!-- DASHED -->
                           <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                          <p>
                                        Les données affichées sur cette page sont fonction de la période et de la région sélectionnées. Veillez vous assurer que vous avez bien défini la période et la région correspondante.
                                        Par défaut, les données sont celle de toute les régions pour toutes les périodes.
                      </p>
               </div>
            </div>
     </div>
                </div>
              {% endblock %}
       {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>

       <script type="text/javascript">
            /**
                Chart.js
                http://www.chartjs.org/
            **/

     loadScript( "{{ asset('assets/Chart.min.js') }}", function() {
         var data = {
          labels: [
        {% for situation in situations %}
          "{{situation.id}}",
         {%endfor%}
           ],
         datasets: [
             {
        data: [
        {%if totalStock>0 %}{% for situation in situations  %}{{(situation.sd*100/totalStock)|number_format(0, '.', ' ')}},{%endfor%}{%endif%}],
        backgroundColor: [{% for color in colors  %}"{{ color}}",{%endfor%}],
        hoverBackgroundColor: [{% for color in colors  %}"{{ color}}",{%endfor%}]
        }]
      };      
    var ctx = document.getElementById("pieChartCanvas").getContext("2d");
            new Chart(ctx,{
                type: 'pie',
               data: data
                });
                


var data = {
    labels: [{% for excApp in excAppParSemaine %}"{{excApp.weektext}}:{{excApp.nombre}}",{% endfor%}],
    datasets: [
        {
            label: "Taux d'exclusivité",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(255, 206, 86, 27)",
            borderColor: "rgba(255, 206, 86, 27)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for excApp in excAppParSemaine %}{{(excApp.exc*100/excApp.nombre)|number_format(0, '.', ' ')}},{% endfor%}],
            spanGaps: false,
        },

        {
            label: "Taux de présence",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for excApp in excAppParSemaine %}{{(100-excApp.presence*100/excApp.nombre)|number_format(0, '.', ' ')}},{% endfor%}],
            spanGaps: false,
        }, 

        {
            label: "Taux de respect de prix",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,102,98,10)",
            borderColor: "rgba(75,102,98,10)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for excApp in excAppParSemaine %}{{(excApp.rpd*100/excApp.nombre)|number_format(0, '.', ' ')}},{% endfor%}],
            spanGaps: false,
        },              
    ]
 };

    var ctx2 = document.getElementById("barChartCanvas").getContext("2d");
            new Chart(ctx2,{
                type: 'line',
                data: data
      });
        });    
        </script>
       {% endblock %}
