{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Paramétrages télephones{% endblock %}
{% block body %}
                    <div class="row">

	                    <div class="col-md-12">
	                        <div class="card card-stats">
	                            <div class="card-header" data-background-color="green">
	                                <h4 class="title">Etats des paramètrages de téléphone</h4>
	                                <p class="category">Cette liste détails les états de paramètrages</p>
	                            </div>
								<div class="card-content">
									<p class="category">Télephones configurés </p>
									<h3 class="title">{{activations|length}}</h3>
								</div>								
	                            <div class="card-footer table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Nom du Client</th>
	                                    	<th>Telephone</th>
	                                    	<th>Date & Heure</th>
											<th>Nom du Commercial</th>
											<th>Conclusion</th>
	                                    </thead>
	                                    <tbody>
										 {% for activation in activations %}
	                                        <tr>
	                                        	<td>{{activation.client.nom}}</td>
	                                        	<td>{{activation.client.telephone}}</td>
	                                        	<td>{{activation.date| date('d/m/Y H:i')}}</td>
                                                 <td>
												{% if activation.user.nom %}{{activation.user.nom}}{% else %}{{activation.user.username}}{% endif %}
												</td>
												<td class="text-primary">{{activation.raison}}</td>
	                                        </tr>
											 {% endfor %}		
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
</div>
   
{% endblock %}
