{% extends 'base.html.twig' %}

{% block body %}
    <h1>Activation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activation.id }}</td>
            </tr>
            <tr>
                <th>Parametrage</th>
                <td>{% if activation.parametrage %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Raison</th>
                <td>{{ activation.raison }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('activation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('activation_edit', { 'id': activation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
