{% extends "AppBundle::table.html.twig" %}
{% block page_title %} {{matiere.titre}}{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>         
        </li> 
        <li>
      <a href="{{ path('matiere_index', { 'id': matiere.programme.id }) }}">{{matiere.programme.nom}}</a>          
        </li> 
       <li>
      <a href="#">Importation des unités</a>          
        </li>                       
      </ul>
   {% endblock %}
{% block table_title %}Importation des unités de prépa{% endblock %}
{% block table %}
    {{ form_start(createCopyForm) }}
        {{ form_widget(createCopyForm) }}
        <input type="submit" value="Inporter" class="btn btn-success" />
    {{ form_end(createCopyForm) }}
<a href="{{ path('matiere_index', { 'id': matiere.programme.id }) }}">Retour</a>


{% endblock %}