{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Matieres{% endblock %}
{% block table %}
         <table class="table table-striped table-bordered bootstrap-datatable datatable" id="my-table-1">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Poids</th>
                 <th>Contenu dispo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td><a href="{{ path('partie_index', { 'id': matiere.id }) }}">{{ matiere.titre }}</a></td>
                <td>{{ matiere.description }}</td>
                <td>{{ matiere.poids }}</td>
                <td>{% if matiere.parties is empty %}No{% else %}Yes{% endif %}</td> 
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('matiere_show', { 'id': matiere.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('matiere_edit', { 'id': matiere.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default " href="{{ path('matiere_new', { 'id': concour.id }) }}">Create a new matiere</a>
{% endblock %}
