{% extends "AppBundle::layout.html.twig" %}
{% block title %}{{ concour.nom|upper }} #ID - MATIERES{% endblock %}
{% block body %}
<div class="col-md-12">
<div class="card">
  <div class="card-header" data-background-color="purple">
   <h4 class="title">Matières</h4>
	  <p class="category">Differentes matieres </p>
	</div>
	 <div class="card-content table-responsive">
	     <table class="table" id="my-table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Poids</th>
                 <th>Contenu dispo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td><a href="{{ path('partie_index', { 'id': matiere.id }) }}">{{ matiere.titre }}</a></td>
                <td>{{ matiere.description }}</td>
                <td>{{ matiere.poids }}</td>
                <td>{% if matiere.parties is empty %}No{% else %}Yes{% endif %}</td> 
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('matiere_show', { 'id': matiere.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('matiere_edit', { 'id': matiere.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
     {% if concour.auMoinsdeMemeQue%}
            <tr>
                <th>Même programme de préparation que</th>
                <td><a href="{{ path('concours_show', { 'id': concour.auMoinsdeMemeQue.id }) }}">
                {{ concour.auMoinsdeMemeQue.nom }} 
                </a></td>
            </tr>  
      {% endif %}
    </p>
    <a class="btn btn-default " href="{{ path('matiere_new', { 'id': concour.id }) }}">Create a new matiere</a>
 {% if concour.auMoinsdeMemeQue is null%}  
    <a  href="{{ path('matiere_index_json', { 'id': concour.id }) }}" target="_blank" class="btn btn-primary pull-right" >Export to .json</a> 
     {% endif %}       
</div
 </div> 
</div> 
{% endblock %}
