{% extends "AppBundle::table.html.twig" %}
{% block page_title %} Matières{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>         
        </li> 
        <li>
      <a href="#">{{concour.nom}}</a>          
        </li>                
      </ul>
   {% endblock %}
 {% block table_title %}Les matitères{% endblock %}
{% block table %}
         <table class="table" id="my-table-1">

        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td><a href="{{ path('partie_index', { 'id': matiere.id }) }}">
                   <h2>{{ matiere.titre }} ~ {{ matiere.poids }} %</h2> 
                    <p>{{ matiere.description }}</p>
                    <p><small><b>{{ matiere.unites|length }}</b> unités de préparation </small></p>
                </a></td>
                <td>
             <a href="{{ path('matiere_edit', { 'id': matiere.id  }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default " href="{{ path('matiere_new', { 'id': concour.id }) }}">Créer une matière</a>

  
{% endblock %}
