{% extends "AppBundle::layout.html.twig" %}
{% block title %}{{ matiere.titre }} #ID {{ matiere.id }}{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ matiere.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ matiere.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ matiere.description }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ matiere.poids }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ matiere.categorie }}</td>
            </tr>
            {% if matiere.auMoinsdeMemeQue%}
            <tr>
                <th>Même contenu que</th>
                <td><a href="{{ path('partie_index', { 'id': matiere.auMoinsdeMemeQue.id }) }}">
                {{ matiere.auMoinsdeMemeQue.titre }} 
                <br>->{{ matiere.auMoinsdeMemeQue.programme.nom }}
                </a></td>
            </tr>  
            {% endif %}      
        </tbody>
    </table>
 
    <ul>
        <li>
            <a href="{{ path('matiere_index', { 'id': matiere.programme.id }) }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('matiere_edit', { 'id': matiere.id }) }}">Modifier</a>
        </li>

    </ul>
{% endblock %}
