{% extends "AppBundle::layout.html.twig" %}
{% block title %}Parties{% endblock %}
{% block body %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="index.html">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Edtion de contenu</a></li>
      </ul>
   
      <div class="row-fluid sortable">    
        <div class="box span12">
          <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Members</h2>
            <div class="box-icon">
              <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
              <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
              <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
          </div>
          <div class="box-content">
        <table class="table table-striped table-bordered bootstrap-datatable datatable" id="my-table">
        <thead>
            <tr>
                <th>Désignation </th>
                 <th>Cours</th>
                <th>Evaluation</th>
                <th>Présentation</th>
            </tr>
        </thead>
        <tbody>
        {% for partie in parties %}
            <tr>
                <td>
                   <h2> {{ partie.titre }}</h2>
                    <p>{{ partie.objectif }}</p>
                </td>
                <td><a href="{{ path('article_show', { 'id': partie.article.id }) }}">{{ partie.titre }}</a></td>
                <td>{% if partie.article %}
                    <a href="{{ path('article_show', { 'id': partie.article.id }) }}">Cours</a>
                   {% else %}
                    <a href="{{ path('article_new', { 'id': partie.id }) }}">Créer un cours
                    {% endif %}
                    </td>
                <td><a href="{{ path('question_index', { 'id': partie.id }) }}">Evaluation</a></td> 
                <td>
                    <a href="{{ path('partie_edit', { 'id': partie.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
          </div>
        </div><!--/span-->
    {% if  matiere is not null and  matiere.auMoinsdeMemeQue is null %}  
      <a  class="btn btn-default "href="{{ path('partie_new', { 'id': matiere.id }) }}">Créer une partie</a>
     {% endif %}
    
 </div 
{% endblock %}
