{% extends "AppBundle::layout.html.twig" %}
{% block title %}Parties{% endblock %}
{% block body %}
      <div class="row-fluid sortable">    
        <div class="box span12">
          <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Members</h2>
            <div class="box-icon">
              <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
              <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
              <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
          </div>
          <div class="box-content">
        <table class="table table-striped table-bordered bootstrap-datatable datatable" id="my-table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Prerequis</th>
                 <th>Objectif</th>
                 <th>Cours</th>
                  <th>Questions dispo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partie in parties %}
            <tr>
                <td><a href="{{ path('question_index', { 'id': partie.id }) }}">{{ partie.titre }}</a></td>
                <td>{{ partie.prerequis }}</td>
                <td>{{ partie.objectif }}</td>
                <td>{% if partie.cours %}<a href="{{ partie.cours }}">Diso{% endif %}</td>
                <td>{% if partie.questions is empty %}No{% else %}Yes{% endif %}</td> 
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('partie_show', { 'id': partie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('partie_edit', { 'id': partie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
          </div>
        </div><!--/span-->
    {% if  matiere is not null and  matiere.auMoinsdeMemeQue is null %}  
      <a  class="btn btn-default "href="{{ path('partie_new', { 'id': matiere.id }) }}">Créer une partie</a>
     {% endif %}
    
 </div 
{% endblock %}
