{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Unités de préparation{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('partie_index',{'id':0})}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
         {% if is_granted('ROLE_SUPERVISEUR') and  matiere %}
          <li>
          <a href="{{ path('matiere_index', { 'id': matiere.programme.id }) }}">{{matiere.programme.nom}}</a> 
          <i class="icon-angle-right"></i>
        </li>   
          <li>
          <a href="{{ path('partie_index', { 'id': matiere.id }) }}">{{matiere.titre}}</a> 
        </li>
          {% endif %}          
      </ul>
   {% endblock %}
   {% block table_title %}Unités de préparation{% endblock %}  
{% block table %}
        <table class="table  datatable" id="my-table-1">
        <thead>
            <tr>
                <th class="col-md-3">Unités </th>
                {% if  is_granted('ROLE_SUPERVISEUR') %}
                  <th class="col-md-3">Editeur</th>
                    {% endif %}
                 <th class="col-md-2">Cours</th>
                <th class="col-md-2">Evaluation</th>
                <th class="col-md-2">Description</th>
            </tr>
        </thead>
        <tbody> 
        {% for partie in parties %}
            <tr>
                <td>
                   <h2>{{ partie.titre }}</h2>
                    <p>{{ partie.objectif }}</p></a>
                </td>
                {% if  is_granted('ROLE_SUPERVISEUR') %}
                  <td>
                    {% if  partie.user %}
                      <a  href="{{ path('partie_attr', { 'id': partie.id }) }}">
                           {{ partie.user.nom }} ~ {{ partie.user.username }}   

                       </a>
                       {% endif %}
                  </td>
                    {% endif %}
                <td>{% if partie.article is not null %}
                    <a href="{{ path('article_show', { 'id': partie.article.id }) }}">Afficher le cours
                    <span class="label label-important">
                      {{ render(controller( 'AppBundle:Article:getDificultContents', { 'id': partie.article.id })) }} 
                    </span>                      
                    </a>
                   {% else %}
                    <a href="{{ path('article_new', { 'id': partie.id }) }}">Aucun cours
                    {% endif %}
                    </td>
                <td>{% if partie.questions is not empty %}
                  <a href="{{ path('question_index', { 'id': partie.id }) }}">Evaluation
                    <span class="label label-important">
                      {{ render(controller( 'AppBundle:Partie:getDificultQuestions', { 'id': partie.id })) }} 
                    </span>
                  </a>
                  {% else %}
                  <a href="{{ path('question_new', { 'id': partie.id }) }}">Aucune question
                    
                  </a>
                      {% endif %}
                </td> 
                <td class="center ">
                                 <a  class="btn btn-primary"href="{{ path('partie_edit', { 'id': partie.id ,'matiere': matiere.id}) }}"><i class="halflings-icon white edit"></i> </a>
                                 
                                {% if  is_granted('ROLE_SUPERVISEUR') %}    
                                    <a class="btn btn-info" href="{{ path('partie_attr', { 'id': partie.id }) }}">
                                        <i class="halflings-icon white user"></i>  
                                    </a>
                                    {% if render(controller( 'AppBundle:Partie:isAvalable', { 'id': partie.id }))  %}
                                  <a class="btn btn-warning" href="{{ path('partie_enable', { 'id': partie.id }) }}">
                                        <i class="halflings-icon white eye"></i> Deverouiller  
                                    </a>  
                                    {% endif %} 
                         {% endif %}
                          
                </td>                    
            </tr>
        {% endfor %}
        </tbody>
    </table>
     {% if  matiere is not null and is_granted('ROLE_SUPERVISEUR') %}  
      <table class="table  no-bordered bootstrap-datatable">
        <tr> 
         <td>
    
      <a  class="btn btn-default" href="{{ path('partie_new', { 'id': matiere.id }) }}" class="btn btn-default">Créer unité de préparation</a>
     
        </td>
       
        <td>
            <a href="{{ path('matiere_copy', { 'id': matiere.id }) }}" class="btn btn-info">Importer depuis un programme</a>
        </td>
          </tr> 
    </table>
      {% endif %}
{% endblock %}
