{% extends "AppBundle::table.html.twig" %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('partie_index',{'id':0})}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Unités de préparation</a></li>
      </ul>
   {% endblock %}
   {% block table_title %}Unités de préparation{% endblock %}  
{% block table %}
        <table class="table table-striped table-bordered bootstrap-datatable datatable" id="my-table-1">
        <thead>
            <tr>
                <th class="col-md-6">Désignation </th>
                 <th class="col-md-2">Cours</th>
                <th class="col-md-2">Evaluation</th>
                <th class="col-md-2">Présentation</th>
            </tr>
        </thead>
        <tbody> 
            {% set parties=app.user.parties %}
            {% if matiere is not null %}
            {% set parties=matiere.parties %}
             {% endif %}
        {% for partie in parties %}
            <tr>
                <td>
                   <h2><a href="">{{ partie.titre }}</a> </h2>
                    <p>{{ partie.objectif }}</p>
                </td>
                <td>{% if partie.article is not null %}
                    <a href="{{ path('article_show', { 'id': partie.article.id }) }}">Cours</a>
                   {% else %}
                    <a href="{{ path('article_new', { 'id': partie.id }) }}">Créer un cours
                    {% endif %}
                    </td>
                <td><a href="{{ path('question_index', { 'id': partie.id }) }}">Evaluation</a></td> 
                <td>
                    <a href="{{ path('partie_edit', { 'id': partie.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <div class="span6">
     {% if  matiere is not null and  matiere.auMoinsdeMemeQue is null %}  
      <a  class="btn btn-primary "href="{{ path('partie_new', { 'id': matiere.id }) }}">Créer une unité de préparation</a>
     {% endif %}  
      </div> 
      <br> 
{% endblock %}
