{% extends "AppBundle::table.html.twig" %}
{% block page_title %}{{partie.titre}}{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
           {% if is_granted('ROLE_SUPERVISEUR')  %}
          <li>
          <a href="{{ path('matiere_index', { 'id': partie.matiere.programme.id }) }}">{{matiere.programme.nom}}</a> 
          <i class="icon-angle-right"></i>
        </li>            
        <li>
            <a href="{{ path('partie_index', { 'id': partie.matiere.id }) }}" >{{ partie.matiere.titre  }}</a>
             <i class="icon-angle-right"></i> 
        </li>
        {% endif %}           
        </li>
          <a href="#">{{partie.titre}}</a> 
        </li>        
      </ul>
   {% endblock %}
{% block table_title %}{{partie.titre}}{% endblock %}  
{% block table %}
    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ partie.titre }}</td>
            </tr>
            <tr>
                <th>Prerequis</th>
                <td>{{ partie.prerequis }}</td>
            </tr>
             <tr>
                <th>Cours</th>
                <td>{% if partie.article is not null %}
                    <a href="{{ path('article_show', { 'id': partie.article.id }) }}">Afficher le cours
                    <span class="label label-important">
                      {{ render(controller( 'AppBundle:Article:getDificultContents', { 'id': partie.article.id })) }} 
                    </span>                      
                    </a>
                   {% else %}
                    <a href="{{ path('article_new', { 'id': partie.id }) }}">Aucun cours
                    {% endif %}
                </td>
            </tr>
             <tr>
                <th>Evaluation</th>
                <td>{% if partie.questions is not empty %}
                  <a href="{{ path('question_index', { 'id': partie.id }) }}">Evaluation
                    <span class="label label-important">
                      {{ render(controller( 'AppBundle:Partie:getDificultQuestions', { 'id': partie.id })) }} 
                    </span>
                  </a>
                  {% else %}
                  <a href="{{ path('question_new', { 'id': partie.id }) }}">Aucune question
                    
                  </a>
                      {% endif %}
                </td>
            </tr> 
             <tr>
                <th>Description</th>
             <td>{{ partie.objectif|raw }}</td>
            </tr>                                             
        </tbody>
    </table>
       <table class="table  no-table-bordered bootstrap-datatable">
        <td> 
         {% if is_granted('ROLE_SUPERVISEUR') %}
        <td>
             <a href="{{ path('partie_index', { 'id': partie.matiere.id }) }}">Retour</a>
        </td>
        {% else %}
         <td>
            <a href="{{ path('partie_index') }}">Retour</a>
        </td>
        {% endif %}
         <td>
           {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </td>
          </tr> 
    </table>   
{% endblock %}
