{% extends "AppBundle::layout.html.twig" %}
{% block title %}{{ partie.titre }}{% endblock %}
{% block body %}
<h2>Details</h2>
    <table>
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ partie.titre }}</td>
            </tr>
            <tr>
                <th>Prerequis</th>
                <td>{{ partie.prerequis }}</td>
            </tr>
             <tr>
                <th>Cours</th>
                <td><a href="{{ partie.cours }}">{{ partie.cours }}</a></td>
            </tr> 
            {% if partie.auMoinsdeMemeQue%}
            <tr>
                <th>Les Même questions que que</th>
                <td><a href="{{ path('question_index', { 'id': partie.auMoinsdeMemeQue.id }) }}">
                {{ partie.auMoinsdeMemeQue.titre }} 
                <br>->{{ partie.auMoinsdeMemeQue.matiere.titre }}
                <br>->{{ partie.auMoinsdeMemeQue.matiere.programme.nom }}
                </a></td>
            </tr>  
            {% endif %}                     
        </tbody>
    </table>
    <ul>

        <li>
            <a href="{{ path('partie_index', { 'id': partie.matiere.id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('partie_edit', { 'id': partie.id }) }}">Editer cette partie</a>
        </li>
    </ul>
{% endblock %}
