{% extends "AppBundle::layout.html.twig" %}
{% block title %}Concours #ID {{ concour.id }}{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ concour.nom }}</td>
            </tr>

            <tr>
                <th>Abreviation</th>
                <td>{{ concour.abreviation }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ concour.type }}</td>
            </tr>
            {% if concour.auMoinsdeMemeQue%}
            <tr>
                <th>Même programme de préparation que</th>
                <td><a href="{{ path('matiere_index', { 'id': concour.auMoinsdeMemeQue.id }) }}">
                {{ concour.auMoinsdeMemeQue.nom }} 
                </a></td>
            </tr>  
            {% endif %} 
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('concours_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('concours_edit', { 'id': concour.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
