{% extends "AppBundle::table.html.twig" %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('partie_index',{'id':0})}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Unités de préparation</a></li>
      </ul>
   {% endblock %}
   {% block table_title %}Unités de préparation{% endblock %}  
{% block table %}
    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ concour.nom }}</td>
            </tr>

            <tr>
                <th>Abreviation</th>
                <td>{{ concour.abreviation }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ concour.type }}</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('programme_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('programme_edit', { 'id': concour.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
