{% extends 'base.html.twig' %}
{% block page_title %}{{ ambassador.nom }}{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Réference</th>
                <td><b>{{ ambassador.id }}</b></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ambassador.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ ambassador.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ ambassador.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ ambassador.email }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ ambassador.ville }}</td>
            </tr>
        </tbody>
    </table>
     <a href="{{ path('ambassador_edit', { 'id': ambassador.id }) }}">edit</a>
{% endblock %}
