{% extends 'base.html.twig' %}

{% block body %}
    <h1>Explications list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for explication in explications %}
            <tr>
                <td><a href="{{ path('explication_show', { 'id': explication.id }) }}">{{ explication.id }}</a></td>
                <td>{{ explication.text }}</td>
                <td>{% if explication.date %}{{ explication.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('explication_show', { 'id': explication.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('explication_edit', { 'id': explication.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('explication_new') }}">Create a new explication</a>
        </li>
    </ul>
{% endblock %}
