{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Nouvelle explication{% endblock %}
 {% if question is not null%}
  {% set partie=question.partie%}
  {% else %}
     {% if content is not null%}
    {% set partie=content.article.partie%}
    {% endif %}
{% endif %}   
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li> 
      {% if content is not null%}
        <li>
            <a href="{{ path('content_index',{'id': content.article.id}) }}">{{partie.titre}}</a>
              <i class="icon-angle-right"></i>
        </li>
         {% endif %}   
        {% if question is not null%}
        <li>
            <a href="{{ path('question_index',{'id': question.partie.id}) }}">{{partie.titre}}</a>
            <i class="icon-angle-right"></i>
        </li> 
        {% endif %}
    {% if question is not null%}
         <li>
          <a href="{{ path('question_show',{'id':question.id})}}">Question ~{{question.id}}</a> 
          <i class="icon-angle-right"></i>
        </li>
  {% else %}
     {% if content is not null%}
             <li>
          <a href="{{ path('content_show',{'id':content.id})}}">{{content.subtitle}}</a> 
          <i class="icon-angle-right"></i>
        </li>
    {% endif %}      
 {% endif %} 
       <li><a href="#">Explication</a></li>                          
      </ul>
   {% endblock %}
   {% block table_title %}Saisir une explication
{% endblock %} 
{% block table %}
<div class="row-fluid">  
<div class="span6">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <input type="submit" value="Enrégistrer"  class="btn btn-info"/>
    {{ form_end(form) }}
    <ul>
         {% if content is not null%}
        <li>
            <a href="{{ path('content_index',{'id': content.article.id}) }}">Retour</a>
        </li>
         {% endif %}   
        {% if question is not null%}
        <li>
            <a href="{{ path('question_index',{'id': question.partie.id}) }}">Retour</a>
        </li> 
        {% endif %}    
    </ul>    
   </div>  
 {% if partie.containMath %}   
<div class="span6">
  <b>Editeur de formules</b>
 <div  style="width:100%;height:300px" id="editorContainer">
 </div>
 <button onclick="myFunction()">Obtenir la traduction</button>
 <p><strong>Note !</strong>Les touches de direction permettent de passer d'une case à l'autre plus facilement.</p>
</div>
{% endif %}
</div>    
{% endblock %}
 {% block helptext %}
            <p>
            Cette explication sera envpyée aux candidats ayant signalé des difficultés sur le contenu.
            </p>
  {% endblock %}

{#{% block javascripts %}
{{parent()}}
   <script>
  CKEDITOR.replace( 'form_text' );
  </script>
 {% endblock %} 
 #}

{% block javascripts %}
{{parent()}}
<script>
function inyectarTexto(elemento,valor){
 var elemento_dom=document.getElementById(elemento);//[0];
 if(document.selection){
  elemento_dom.focus();
  sel=document.selection.createRange();
  sel.text=valor;
  return;
 }if(elemento_dom.selectionStart||elemento_dom.selectionStart=="0"){
  var t_start=elemento_dom.selectionStart;
  var t_end=elemento_dom.selectionEnd;
  var val_start=elemento_dom.value.substring(0,t_start);
  var val_end=elemento_dom.value.substring(t_end,elemento_dom.value.length);
  elemento_dom.value=val_start+valor+val_end;
 }else{
  elemento_dom.value+=valor;
 }
}
</script>
<script>
function myFunction() {
  inyectarTexto('form_text',editor.getMathML()) ;
   $("#myModal").modal("hide");
}
</script> 
{% if not question.partie.containMath %}  
<script>
 CKEDITOR.replace( 'form_text' );

  </script>
{% endif %}
{% endblock %} 