{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Explication{% endblock %}
{% block body %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li> 
        {% if content is not null%}
        <li>
            <a href="{{ path('content_index',{'id': content.article.id}) }}">{{content.article.titre}}</a>
             <i class="icon-angle-right"></i>
        </li>
         {% endif %}   
        {% if question is not null%}
        <li>
            <a href="{{ path('question_index',{'id': question.partie.id}) }}">{{question.partie.titre}}</a>
        </li> 
        {% endif %}       
 {% if question is not null%}
         <li>
          <a href="{{ path('question_show',{'id':question.id})}}">Question ~{{question.id}}</a> 
          <i class="icon-angle-right"></i>
        </li>
  {% else %}
     {% if content is not null%}
             <li>
          <a href="{{ path('content_show',{'id':content.id})}}">{{content.subtitle}}</a> 
          <i class="icon-angle-right"></i>
        </li>
    {% endif %}      
 {% endif %}           
        <li><a href="#">Explication</a></li>
      </ul>   
<div class="row-fluid">  
 <div class="box span6">
          <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>
    {% if question is not null%}
     Question ~ {{question.id}}
  {% else %}
     {% if content is not null%}
      Partie du cours ~ {{content.subtitle}}
    {% endif %}
 {% endif %}
            </h2>
            <div class="box-icon">
              <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
              <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
              <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
          </div>
          <div class="box-content">
 {% if question is not null%}
          <a href="{{ path('question_show',{'id': question.id})}}">{{question.text | raw}}</a> 
  {% else %}
     {% if content is not null%}
          <a href="{{ path('content_show',{'id':content.id})}}">{{ content.text| raw }}</a> 
    {% endif %}      
 {% endif %}  
       </div>            
 </div>   
   <div class="box span6">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Explication</h2>
            <div class="box-icon">
              <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
              <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
              <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
          </div>
          <div class="box-content">
           {{ explication.text| raw }}
          <ul>
         {% if content is not null%}
        <li>
            <a href="{{ path('content_index',{'id': content.article.id}) }}">Retour à la liste</a>
        </li>
           <li>
            <a href="{{ path('explication_edit',{'id': explication.id,'content': content.id}) }}">Modifier</a>
        </li>
         {% endif %}   
        {% if question is not null%}
        <li>
            <a href="{{ path('question_index',{'id': question.partie.id}) }}">Retour à la liste</a>
        </li>
          <li>
            <a href="{{ path('explication_edit',{'id': explication.id, 'question': question.id}) }}">Modifier</a>
        </li> 
        {% endif %}   
    
    </ul>
     </div> 
   </div>  
</div>    
{% endblock %}
 {% block helptext %}
            <p>
            Cette explication est envpyée aux candidats ayant signalé des difficultés sur le contenu.
            </p>
  {% endblock %}