{% extends "AdminBundle::table.html.twig" %}
{% block page_title %}Utilisateur{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Nouveau Utilisateur</a></li>
      </ul>
   {% endblock %}
   {% block table_title %}Nouveau Utilisateur{% endblock %}  
   {% block table %}               

	                                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">

												<div class="form-group label-floating">
													<label class="control-label">Non complet</label>
													{{ form_widget(form.nom,{attr:{'class':'form-control'}}) }}
												</div>
												<div class="form-group label-floating">
													<label class="control-label">Email</label>
													{{ form_widget(form.email,{attr:{'class':'form-control'}}) }}
												</div>
												<div class="form-group label-floating">
													<label class="control-label">Phone</label>
													{{ form_widget(form.username,{attr:{'class':'form-control'}}) }}
												</div>
												<div class="form-group label-floating">
													<label class="control-label">Domaine</label>
													{{ form_widget(form.type,{attr:{'class':'form-control'}}) }}
												</div>
												<div class="form-group label-floating">
													<label class="control-label">Password</label>
													{{ form_widget(form.plainPassword.first,{attr:{'class':'form-control'}}) }}
												</div>

												<div class="form-group label-floating">
													<label class="control-label">Verification</label>
													{{ form_widget(form.plainPassword.second,{attr:{'class':'form-control'}}) }}
												</div>
												<div class="form-group label-floating">
													<label class="control-label">Ville</label>
													{{ form_widget(form.ville,{attr:{'class':'form-control'}}) }}
												</div>
	                                    <button type="submit" class="btn btn-danger pull-right">Creer un compte</button>
	                                    <div class="clearfix"></div>
	                                  {{ form_end(form) }}
	                                </form>
	                            <a href="{{ path('user_index') }}">Retour</a>
	                    {% endblock %}
