{% extends "AdminBundle::layout.html.twig" %}
{% block title %}UTILISATEURS{% endblock %}
{% block body %}
					<div class="col-md-8">
                            <div class="card">
                                <div class="card-header text-left" data-background-color="red">
                                    <h4 class="title">Utilisateurs</h3>
                                    <p class="category">Liste des utilisateurs du systeme</p>
                                </div>
                                <div class="card-content">
                                    <div class="table-responsive table-upgrade">
                                        <table class="table" id="my-table">
                                            <thead>
                                                <th>Utilisateur</th>
                                            	<th class="text-center">Tel</th>
                                            	<th class="text-center">email</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">Last login</th>
                                            </thead>
                                            <tbody>
                                            	   {% for user in users %}
                                                <tr>
                                                	<td class="text-left">{{user.nom}}</td>
                                                	<td class="text-center">{{user.phone}}</td>
                                                	<td class="text-left">{{user.email}}</td>
                                                	<td class="text-left">{{user.type}}</td>
                                                	<td class="text-left">{{user.lastLogin|date('d/m/Y h:i')}}</td>
                                                </tr>
                                                     {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
	                    <div class="col-md-4">
	                        <div class="card">
	                            <div class="card-content">

	                                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Non complet</label>
													{{ form_widget(form.nom,{attr:{'class':'form-control'}}) }}
												</div>
	                                        </div>
	                                 </div>
	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Email</label>
													{{ form_widget(form.email,{attr:{'class':'form-control'}}) }}
												</div>
	                                        </div>
	                                    </div>	
	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Phone</label>
													{{ form_widget(form.phone,{attr:{'class':'form-control'}}) }}
												</div>
	                                        </div>
	                                    </div>	      
	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Psedo</label>
													{{ form_widget(form.username,{attr:{'class':'form-control'}}) }}
												</div>
	                                        </div>
	                                    </div>
	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Domaine</label>
													{{ form_widget(form.type,{attr:{'class':'form-control'}}) }}
												</div>
	                                        </div>
	                                    </div>
	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Password</label>
													{{ form_widget(form.plainPassword.first,{attr:{'class':'form-control'}}) }}
												</div>
	                                        </div>
	                                    </div>

	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Verification</label>
													{{ form_widget(form.plainPassword.second,{attr:{'class':'form-control'}}) }}
												</div>
	                                        </div>
	                                    </div>

	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Ville</label>
													{{ form_widget(form.ville,{attr:{'class':'form-control'}}) }}
												</div>
	                                        </div>
	                                    </div>
	                                    
	                                    <button type="submit" class="btn btn-danger pull-right">Creer un compte</button>
	                                    <div class="clearfix"></div>
	                                  {{ form_end(form) }}
	                                </form>
	                            </div>
	                        </div>
	                    </div>
{% endblock %}
