{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Question{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="#">Home</a> 
          <i class="icon-angle-right"></i>       
        </li>
        <li>
          <a href="#">Question</a> 
          <i class="icon-angle-right"></i>        
        </li>        
        <li><a href="#">Création</a></li>
      </ul>
   {% endblock %}
   {% block table_title %}Edition de question{% endblock %}    
{% block table %}
<div class="row-fluid">  
<div class="span6">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    <ul>
        <li>
            <a href="{{ path('question_index', { 'id': question.partie.id }) }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <a  class="btn btn-default" href="{{ path('question_new', { 'id':  question.partie.id }) }}">Create a new question</a>
</div>
<div class="span6">
    <b>Editeur de formules</b>
 <div  style="width:100%;height:300px" id="editorContainer">
 </div>
 <button onclick="myFunction()">Obtenir la traduction</button>
  <p><strong>Note !</strong>Les touches de direction permettent de passer d'une case à l'autre plus facilement.</p>
</div> 
</div>   
{% endblock %}

