{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Matieres{% endblock %}
{% block table %}
         <table class="table table-striped table-bordered bootstrap-datatable datatable" id="my-table-1">
        <thead>
            <tr>
                <th>Enonce</th>
                <th>Type</th>                
                <th>Validated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>
                {{ question.text | raw}}
                <br>
                {% if question.image %}
                 {{question.image }}
               {% endif %}
                
                </td>
                  <td>{{ question.type }}</td>
                <td>{% if question.validated %}Yes{% else %}No{% endif %}</td>            
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('question_show', { 'id': question.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('question_edit', { 'id': question.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 <a  class="btn btn-default" href="{{ path('question_new', { 'id': partie.id }) }}">Create a new question</a>   
      
{% endblock %}
