{% extends "AppBundle::layout.html.twig" %}
{% block title %}Question #ID {{ question.id }}{% endblock %}
{% block body %}
<div class="col-md-12">
<div class="card">
	 <div class="card-content table-responsive">
    <table class="table">
        <tbody>
           
             {% if question.user %}
               <tr>
                <th>Editeur</th>
                <td>{{ question.user.username }}</td>
              </tr>
                {% endif %} 
                {% if question.validateur %}
             <tr>    
                 <th>Validateur</th>
                <td>{{ question.validateur.username }}</td>
             </tr>   
                {% endif %}
            
             <tr>
                <th>Date</th>
                <td>{% if question.date %}{{ question.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>     
            <tr>
            
                <th>Type</th>
                <td>{{ question.type }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ question.text| raw}}</td>
            </tr>
      
            {% if question.image %} 
            <tr>
                <th>Image</th>
                <td> 
                {% if question.image %}
                  <img src="{{ asset( question.image) }}" alt="{{question.image }}" style="width:100px;height:100px;"> 
               {% endif %}
               </td>
            </tr>
             {% endif %}  
            {% if question.explication %}   
             <tr>
                <th>Explication</th>
                <td><a href="{{ question.explication }}">{{ question.explication }}</a></td>
            </tr> 
            {% endif %}           
            <tr>
                <th>Temps</th>
                <td>{{ question.time }} min</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ question.rep }}</td>
            </tr>
            <tr>
                <th>Proposition A</th>
                <td>{{ question.propA| raw }}</td>
            </tr>
            <tr>
                <th>Proposition B</th>
                <td>{{ question.propB| raw }}</td>
            </tr>
             {% if question.propC| e %} 
            <tr>
                <th>Proposition C</th>
                <td>{{ question.propC| raw }}</td>
            </tr>
            {% endif %} 
            {% if question.propD %} 
            <tr>
                <th>Proposition D</th>
                <td>{{ question.propD | raw}}</td>
            </tr>
            {% endif %} 
              {% if question.propE %}
            <tr>
                <th>Proposition E</th>
                <td>{{ question.propE| raw }}</td>
            </tr>
              {% endif %} 
        </tbody>

    </table>
    {% if not question.validated %}<a  href="{{ path('question_valid', { 'id': question.id }) }}" class="btn btn-primary pull-right" >Valider</a>{% endif %}
    <ul>
        <li>
            <a href="{{ path('question_index', { 'id': question.partie.id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('question_edit', { 'id': question.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
<a  class="btn btn-default" href="{{ path('question_new', { 'id': question.partie.id }) }}">Create a new question</a>
    </div>
 </div 
  </div>      
{% endblock %}
