{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Question{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>       
        </li>   
          <li>
            <a href="{{ path('question_index',{'id': question.partie.id}) }}">{{question.partie.titre}}</a>
            <i class="icon-angle-right"></i>
        </li>          
        <li><a href="#">Question ~ {{ question.id}}</a></li>
      </ul>
   {% endblock %}
   {% block table_title %}Question ~ {{ question.id}} {% endblock %}    
{% block table %}
    <table class="table">
        <tbody>
           
             {% if question.user %}
               <tr>
                <th>Editeur</th>
                <td>{{ question.user.username }}</td>
              </tr>
                {% endif %} 
                {% if question.validateur %}
             <tr>    
                 <th>Validateur</th>
                <td>{{ question.validateur.username }}</td>
             </tr>   
                {% endif %}
             <tr>
                <th>Date</th>
                <td>{% if question.date %}{{ question.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>     
            <tr>
                <th>Enoncé</th>
                <td>{{ question.text| raw}}</td>
            </tr>
      
            {% if question.image %} 
            <tr>
                <td> 
                {% if question.image %}
                  <img src="{{ asset( question.image) }}" alt="{{question.image }}" style="width:200px;height:100px;"> 
               {% endif %}
               </td>
            </tr>
             {% endif %}  
            {% if question.explication %}   
             <tr>
                <th>Explication</th>
                <td><a href="{{ path('explication_show', { 'id': question.explication.id ,'question': question.id}) }}" class="btn btn-small btn-success">Afficher</a></td>
            </tr> 
            {% endif %}           
            <tr>
                <th>Temps</th>
                <td>{{ question.time }} min</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ question.rep }}</td>
            </tr>
            <tr>
                <th>Proposition A</th>
                <td>{{ question.propA| raw }}</td>
            </tr>
            <tr>
                <th>Proposition B</th>
                <td>{{ question.propB| raw }}</td>
            </tr>
             {% if question.propC| e %} 
            <tr>
                <th>Proposition C</th>
                <td>{{ question.propC| raw }}</td>
            </tr>
            {% endif %} 
            {% if question.propD %} 
            <tr>
                <th>Proposition D</th>
                <td>{{ question.propD | raw}}</td>
            </tr>
            {% endif %} 
              {% if question.propE %}
            <tr>
                <th>Proposition E</th>
                <td>{{ question.propE| raw }}</td>
            </tr>
              {% endif %} 
        </tbody>

    </table>
    
    <table class="table  no-table-bordered bootstrap-datatable">
        <tr> 

         <td>
            <a href="{{ path('question_index', { 'id': question.partie.id }) }}" ><i class="halflings-icon chevron-left"></i>Retour</a>
        </td>
        <td>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger" >
            {{ form_end(delete_form) }}
        </td>
        <td>
            <a href="{{ path('question_edit', { 'id': question.id }) }}"><i class="halflings-icon edit"></i>Modifier</a>
        </td>

        <td>
            {% if not question.validated %}<a  href="{{ path('question_valid', { 'id': question.id }) }}" class="btn btn-primary pull-right" >Approuver la question</a>{% endif %}
        </td>  
          </tr> 
    </table>

<a  class="btn btn-default" href="{{ path('question_new', { 'id': question.partie.id }) }}">Créer une nouvelle question</a>
     
{% endblock %}
