{% extends 'base.html.twig' %}
{% block title %}CentOr# Q N° {{question.id}}{% endblock %}
{% block body %}
 <div id="panel-1" class="panel panel-default">
 <div class="panel-body"> 
  <b>{{question.partie.titre }}</b > >
 <h4>{{question.partie.matiere.titre }}</h4>
 {{question.partie.matiere.programme.nom }}
  <div class="col-md-3 pull-right">
 <a href="https://play.google.com/store/apps/details?id=com.centor.mobile.app" class="btn btn-3d btn-dirtygreen">Repondre dans l'App</a>
</div>       
 </div> 
</div>
<div id="panel-1" class="panel panel-default">
  <header class="panel-heading">
<h2 class="panel-title elipsis">
Choisir la bonne réponse 
</h2>
</header>
<div class="panel-body">
 <p>{{ question.text| raw }}<br>
 {% if question.image %} 
 <img src="{{ question.image }}">
 <br>
 </p>
{% endif %}

<div class="table-responsive">
    <table class="table nobordered nomargin">
        <tbody>
             <tr>
                <th> A</th>
                <td>{{ question.propA| raw }}</td>
            </tr>       
            <tr>
                <th> B</th>
                <td>{{ question.propB | raw}}</td>
            </tr>
             {% if question.propC %} 
            <tr>
                <th>C</th>
                <td>{{ question.propC| raw }}</td>
            </tr>
            {% endif %} 
            {% if question.propD %} 
            <tr>
                <th> D</th>
                <td>{{ question.propD| raw }}</td>
            </tr>
            {% endif %} 
              {% if question.propE %}
            <tr>
                <th> E</th>
                <td>{{ question.propE | raw}}</td>
            </tr>
              {% endif %} 

        </tbody>
    </table>

  </div>
  <row>
<div class="fb-like col-md-12" data-href="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
 </row>
  <h3>Repondre </h3>
   <div class="fb-comments" data-href="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-numposts="15" data-width="100%">
 </div> 
</div>
</div>     
{% endblock %}
{% block javascripts %}
{% endblock %}