{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Resultats{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Resultats</a></li>
      </ul>
   {% endblock %}
   {% block table_title %}Resultats{% endblock %}  
{% block table %}
        <table class="table  datatable" id="my-table-1">
        <thead>
            <tr>
                <th>Description</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resultat in resultats %}
            <tr>
                <td><a href="{{ resultat.url }}">
                    {{ resultat.description }}
                    <p>{{ resultat.url }}</p>
                    </a>
                </td>
                <td>{% if resultat.date %}{{ resultat.date|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td class="center ">
<a class="btn btn-info" href="{{ path('resultat_edit', { 'id': resultat.id }) }}">
                <i class="halflings-icon white edit"></i>  
                 </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   <a href="{{ path('resultat_new') }}" class="btn btn-info">Publier un résultat</a>

{% endblock %}
