{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Nouveau résultat{% endblock %}
      {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="{{ path('resultat_index') }}">Résultats</a>
           <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#">Nouveau résultat</a>
        </li>
      </ul>
   {% endblock %}
   {% block table_title %}Nouveau résultat{% endblock %} 
    {% block table %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Publier " class="btn btn-success" />
    {{ form_end(form) }}
    <i class="halflings-icon chevron-left"></i> <a href="{{ path('resultat_index') }}">Retour</a>
    <a id="url"></a>

{% endblock %}
{% block javascripts %}
{{parent()}}

<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<script type="text/javascript">
const urlinput=document.getElementById('appbundle_resultat_url');
const client = filestack.init('AhuJdwUuNSqGQ57MJKIxTz');
 urlinput.addEventListener("focus", myFocusFunction,true);
function myFocusFunction() {
  client.pick({accept: '.pdf',lang: 'fr'
  }).then(function(result) {
  const fileUrl = result.filesUploaded[0].url; 
     urlinput.value=fileUrl; 
   });   
}
</script>

 {% endblock %} 