{% extends "AppBundle::layout.html.twig" %}
{% block title %}Resultats{% endblock %}
    
{% block body %}
    <h1>Resultat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resultat.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ resultat.url }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ resultat.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if resultat.date %}{{ resultat.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('resultat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('resultat_edit', { 'id': resultat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
