{% extends "AdminBundle::layout.html.twig" %}
{% block title %}{{ price.premium|upper }}{% endblock %}
{% block body %}
    <h1>Price</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ price.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ price.nom }}</td>
            </tr>
            <tr>
                <th>Starter</th>
                <td>{{ price.starter }}</td>
            </tr>
            <tr>
                <th>Standard</th>
                <td>{{ price.standard }}</td>
            </tr>
            <tr>
                <th>Premium</th>
                <td>{{ price.premium }}</td>
            </tr>

            <tr>
                <th>Starter Delay</th>
                <td>{{ price.starterDelay }}</td>
            </tr>
            <tr>
                <th>Standard Delay</th>
                <td>{{ price.standardDelay }}</td>
            </tr>
            <tr>
                <th>Premium Delay</th>
                <td>{{ price.premiumDelay }}</td>
            </tr>  
            <tr>
                <th>Starter Desc</th>
                <td>{{ price.starterDesc }}</td>
            </tr>
            <tr>
                <th>Standard Desc</th>
                <td>{{ price.standardDesc }}</td>
            </tr>
            <tr>
                <th>PremiumDesc</th>
                <td>{{ price.premiumDesc }}</td>
            </tr>                      
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('price_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('price_edit', { 'id': price.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
