{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Activités des commerciaux{% endblock %}
{% block body %}
	                <div class="row">
	                    <div class="col-md-6">
	                        <div class="card card-stats">
	                            <div class="card-header" data-background-color="blue">
	                                <h4 class="title">Les ventes</h4>
	                                <p class="category">Ventes par commercial</p>
	                            </div>
                                <div class="card-content">
									<p class="category">Total des ventes</p>
									<h3 class="title">{{ventes|somme('montant')}} XAF</h3>
								</div>
	                            <div class="card-footer table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Name du commercial</th>
	                                    	<th>Nobre de tél vendu</th>
	                                    	<th>Prix</th>										
	                                    </thead>
	                                    <tbody>
											 {% for vente in ventes %}
	                                        <tr>
	                                        	<td>{{vente.username}}</td>
	                                        	<td>{{vente.nombre}}</td>
	                                        	<td>{{vente.montant}} XAF</td>
	                                        </tr>
                                           	{% endfor %}                                                                                                                                                                          
	                                    </tbody>
	                                </table>

	                            </div>
	                        </div>
	                    </div>

	                    <div class="col-md-6">
	                        <div class="card card-stats">
	                            <div class="card-header" data-background-color="orange">
	                                <h4 class="title">Les paramétrages</h4>
	                                <p class="category">paramétrages par commercial</p>
	                            </div> 
                                <div class="card-content">
									<p class="category">Nombre de migrations</p>
									<h3 class="title">{{activations|somme('nombre')}}</h3>
								</div>                               
	                            <div class="card-footer table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Name du commercial</th>
	                                    	<th>Nbre de paramétrages</th>
	                                    	<th>paramétrages reussi</th>										
	                                    </thead>
	                                    <tbody>
										 {% for activation in activations %}
	                                        <tr>
	                                        	<td>{{activation.username}}</td>
	                                        	<td>{{activation.nombre}}</td>
	                                        	<td>{{activation.reussi}}</td>
	                                        </tr>
                                        {% endfor %}                                                                                                                                                                              
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>                        
</div>

{% endblock %}
