{% extends "MessagerBundle::layout.html.twig" %}

{% block body %}
    <h1>Pubs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomdecampagne</th>
                <th>Type</th>
                <th>Text</th>
                <th>Base64image</th>
                <th>Date</th>
                <th>Html</th>
                <th>Description</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pub in pubs %}
            <tr>
                <td><a href="{{ path('pub_show', { 'id': pub.id }) }}">{{ pub.id }}</a></td>
                <td>{{ pub.nomDeCampagne }}</td>
                <td>{{ pub.type }}</td>
                <td>{{ pub.text | raw}}</td>
                <td>{{ pub.base64Image }}</td>
                <td>{% if pub.date %}{{ pub.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ pub.html | raw}}</td>
                <td>{{ pub.description }}</td>
                <td>{% if pub.startDate %}{{ pub.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pub.endDate %}{{ pub.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pub_show', { 'id': pub.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pub_edit', { 'id': pub.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pub_new') }}">Create a new pub</a>
        </li>
    </ul>
{% endblock %}
