{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Eligibilité {% endblock %}
{% block body %}


<div id="content" class="dashboard padding-20">
<div class="panel panel-default ">
                        <div class="panel-body">
                            <b>Eligibilités</b> <br>
                            Liste des points de vente et leurs états d'élibilité
                        </div>
                    </div>
<div id="panel-ui-tan-l4" class="panel panel-default">
                <div class="panel-heading">
                  <!-- tabs nav -->
                  <ul class="nav nav-tabs pull-left">
                    <li class="active"><!-- TAB 1 -->
                      <a href="#ttab1l_nobg" data-toggle="tab" aria-expanded="true">Eligibilité <span class="label label-danger">Dernier visite</span></a>
                    </li>
                    <li class=""><!-- TAB 2 -->
                      <a href="#ttab2l_nobg" data-toggle="tab" aria-expanded="false">Racking <span class="label label-info">Toute la période</span></a></a>
                    </li>
                  </ul>
                  <!-- /tabs nav -->
                </div>
                <!-- panel content -->
                <div class="panel-body">

                    <!-- tabs content -->
                    <div class="tab-content transparent">

                      <div id="ttab1l_nobg" class="tab-pane active"><!-- TAB 1 CONTENT -->
                                          <table class="table table-striped table-bordered table-hover" id="datatable_sample">
                                                    <thead>
                                                        <tr>
                                                         <th><i class="fa fa-eye"></i></th> 
                                                            <th>#Nom du PDV</th>
                                                            <th>Matricule</th>
                                                             <th>Exclusivité</th>
                                                              <th>Mise en avant</th>
                                                              <th>FKS</th>
                                                              <th>FKL</th>
                                                              <th>FMT</th>
                                                              <th>FKM</th>
                                                              <th>STOCK</th>
                                                            <th>POINTS</th>  
                                                             <th>RACKING</th>                           
                                                         </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for pointVente in eligibles %}
                                                        <tr class="odd gradeX">
                                                              <td class="col-md-1">
                                                             <a target="_blank" href="{{ path('pointvente_show',{'id':pointVente.id}) }}" class="btn btn-default btn-xs">
                                                              <i class="fa fa-eye"></i>
                                                             </a>
                                                              </td>                                                                                        
                                                            <td >{{pointVente.nom}}</td>
                                                            <td >{{pointVente.matricule}}</td>
                                                            <td >{% if pointVente.exc %}Oui{% else %}Non{% endif %}</td>
                                                            <td >{% if pointVente.map %}Oui{% else %}Non{% endif %}</td> 
                                                            <td >{{pointVente.fks}}</td>
                                                            <td >{{pointVente.fkl}}</td>
                                                            <td >{{pointVente.fmt}}</td>
                                                            <td >{{pointVente.fkm}}</td>
                                                            <td class="col-md-1">{{pointVente.stock}}</td>
                                                            <td >{{pointVente.note}}</td> 
                                                            <td >{{pointVente.note*100/20}}%</td>   
                                                        </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                                <a class="btn btn-xs btn-info"  href="{{ path('pointvente_eligibles_excel') }}">
                                                    <i class="fa fa-arrow-right"></i> 
                                                    Exporter vers (.xls)
                                                </a>
                      </div><!-- /TAB 1 CONTENT -->
                      <div id="ttab2l_nobg" class="tab-pane"><!-- TAB 2 CONTENT -->
                                          <table class="table table-striped table-bordered table-hover" id="datatable_sample2">
                                                    <thead>
                                                        <tr>
                                                         <th><i class="fa fa-eye"></i></th> 
                                                            <th>#Nom du PDV</th>
                                                            <th>Matricule</th>
                                                             <th>Exclusivité</th>
                                                              <th>Mise en avant</th>
                                                              <th>FKS</th>
                                                              <th>FKL</th>
                                                              <th>FMT</th>
                                                              <th>FKM</th>
                                                              <th>STOCK MOYEN</th>
                                                            <th>POINTS</th>  
                                                             <th>RACKING</th>                            
                                                         </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for pointVente in eligiblesranking %}
                                                        <tr class="odd gradeX">
                                                              <td class="col-md-1">
                                                             <a target="_blank" href="{{ path('pointvente_show',{'id':pointVente.id}) }}" class="btn btn-default btn-xs">
                                                              <i class="fa fa-eye"></i>
                                                             </a>
                                                              </td>                                                                                        
                                                            <td >{{pointVente.nom}}</td>
                                                            <td >{{pointVente.matricule}}</td>
                                                            <td >{{pointVente.exc*100}}%</td>
                                                            <td >{{pointVente.map*100}}% </td>
                                                            <td >{{pointVente.fks|number_format(0, ',', '.')}}</td>
                                                            <td >{{pointVente.fkl|number_format(0, ',', '.')}}</td>
                                                            <td >{{pointVente.fmt|number_format(0, ',', '.')}}</td>
                                                            <td >{{pointVente.fkm|number_format(0, ',', '.')}}</td>
                                                            <td class="col-md-1">{{pointVente.stock|number_format(0, ',', '.')}}</td>
                                                            <td >{{pointVente.note}}</td> 
                                                            <td >{{pointVente.note*100/20}}%</td>   
                                                        </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                                <a class="btn btn-xs btn-info"  href="{{ path('pointvente_racking_excel') }}">
                                                    <i class="fa fa-arrow-right"></i> 
                                                    Exporter vers (.xls)
                                                </a>
                      </div><!-- /TAB 1 CONTENT -->

                    </div>
                    <!-- /tabs content -->

                </div>
                <!-- /panel content -->

      </div>


     <div class="panel panel-default">
            <div class="panel-body">
                   <div class="alert alert-bordered-dashed margin-bottom-30"><!-- DASHED -->
                           <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                          <p>
                                        Les données affichées sur cette page sont fonction de la période et de la région sélectionnées. Veillez vous assurer que vous avez bien défini la période et la région correspondante.
                                        Par défaut, les données sont celle de toute les régions pour toutes les périodes.
                          </p>
               </div>
            </div>
     </div> 
     <!-- /PANEL -->

   </div>
    
{% endblock %}
       {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
        <script type="text/javascript">
            /**
                Chart.js
                http://www.chartjs.org/
            **/
         loadScript( plugin_path + "datatables/js/jquery.dataTables.min.js", function() {
             loadScript(plugin_path + "datatables/dataTables.bootstrap.js", function(){
            if (jQuery().dataTable) {
            var table = jQuery('#datatable_sample');
            var table2 = jQuery('#datatable_sample2');
            table.dataTable({
                    "columns": [
                            {
                                "orderable": false
                            },{
                                "orderable": true
                            },{
                                "orderable": true
                            }, {
                                "orderable": false
                            },{
                                "orderable": false
                            },{
                                "orderable": true
                            }, {
                                "orderable": true
                            },{
                                "orderable": true
                            },{
                                "orderable": true
                            }, {
                                "orderable": true
                            }, {
                                "orderable": true
                            }, {
                                "orderable": true
                            }],
                            "lengthMenu": [
                                [5,20, 50, 100, -1],
                                [5,20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": [{  // set default column settings
                                'orderable': false,
                                'targets': [0]
                            }, {
                                "searchable": false,
                                "targets": [0]
                            }],
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });
            table2.dataTable({
                    "columns": [
                            {
                                "orderable": false
                            },{
                                "orderable": true
                            },{
                                "orderable": true
                            }, {
                                "orderable": false
                            },{
                                "orderable": false
                            },{
                                "orderable": true
                            }, {
                                "orderable": true
                            },{
                                "orderable": true
                            },{
                                "orderable": true
                            }, {
                                "orderable": true
                            }, {
                                "orderable": true
                            }, {
                                "orderable": true
                            }],
                            "lengthMenu": [
                                [5,20, 50, 100, -1],
                                [5,20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": [{  // set default column settings
                                'orderable': false,
                                'targets': [0]
                            }, {
                                "searchable": false,
                                "targets": [0]
                            }],
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });
                        
               }
             });

                
            });
        </script>

       {% endblock %}