{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Géolocalisation {% endblock %}
{% block body %}

   <!-- page title -->
    <header id="page-header">
    <h1>Les points de ventes</h1>
    </header>
<div id="content" class="dashboard padding-20">

     <div id="panel-2" class="panel panel-default">
                         <div class="panel-heading">
                                    <span class="title elipsis">
                        <strong>Points de vente recencés</strong> ({{nombrePointVente}} points de vente)
                        </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->
                                </div>
                                <!-- panel content -->
                                <div class="panel-body">  

            <div class="height-650" id="map"></div>
                   
                                </div>
                                <!-- /panel content -->

                    </div>


   </div>
    
{% endblock %}
       {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
  <script>
   {% set first=pointVentes[0] %}
      var map;

      function initMap() {

          var features = [
          {% for pointVente in pointVentes if pointVente.latitude and pointVente.longitude %}

          {
            position: new google.maps.LatLng({{pointVente.latitude}}, {{pointVente.longitude}}),
             nom:'{{pointVente.nom}}',
             description:'{{pointVente.description}}',
             tel:'{{pointVente.telGerant}}',
             quartier:'{{pointVente.quartier}}',
             link:'{{ path('pointvente_show',{'id':pointVente.id}) }}'
          },
          {%endfor%}
        ];
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center:new google.maps.LatLng(-0.636558, 15.168308) 
        });


      function addMarker(feature) {
       var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading">'+feature.quartier+'</h1>'+
      '<div id="bodyContent">'+
      '<p><b>'+feature.nom+'</b>  </br>'+feature.description+'</br>Tel: '+feature.tel+'</p>'+
      '<p><a href="'+feature.link+'">'+
      'Voir les détails</a> '+
      '.</p>'+
      '</div>'+
      '</div>';

     var infowindow = new google.maps.InfoWindow({
        content: contentString
       });

          var marker = new google.maps.Marker({
            position: feature.position,
            map: map,
            title: feature.nom

          });

      marker.addListener('click', function() {
         infowindow.open(map, marker);
         });

        }
        var centerMap=new google.maps.LatLng(-0.636558, 15.168308) ;
        var set=false;
        for (var i = 0, feature; feature = features[i]; i++) {
          addMarker(feature);
          if(!set){
          centerMap=feature.position;
          set=true;
          }

        }
       map.setCenter(centerMap); 
      }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnDVCVll8mthbMy6rXkfJXF3FoqQTIqBw&callback=initMap">
    </script>


       {% endblock %}