{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{ pointVente.nom }} {% endblock %}
{% if visites is not empty %}
{% set first=visites.first() %}
 {% set totalStock=0 %} 
  {% set totalStockSiat=0 %} 
   {% set totalStockCon=0 %} 
   {% for situation in first.situations  %}
  {% if situation.produit.dossier=='produit' %}
   {% set totalStockSiat=totalStockSiat+situation.stock %}
  {% elseif situation.produit.dossier=='concurrence'  %}
  {% set totalStockCon=totalStockCon+situation.stock %}
   {% endif %}
   {% set totalStock=totalStock+situation.stock %}
  {% endfor%}
  {% endif%}
{% block body %}
<div id="content" class="dashboard padding-20">
<div class="panel panel-default ">
                        <div class="panel-body">
                            <b>{{ pointVente.nom }}</b> - {{ pointVente.type }}<br>
                            {{ pointVente.description }}
                        </div>
                    </div>
     <div class="row">  
               <div class="col-md-7">
                    <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Détails du point de vente</strong>
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->
                                </div>
                                <!-- panel content -->
                      <div class="panel-body">  
                            <div class="table-responsive">
                            <table class="table-vertical-middle">
                             <tbody>
            <tr>
                <th>Nom du point de vente </th>
                <td>{{ pointVente.nom }}</td>
            </tr>
            <tr>
                <th>Nom du gérant</th>
                <td>{{ pointVente.nomGerant }}</td>
            </tr>
            <tr>
                <th>Telephone du gérant</th>
                <td>{{ pointVente.telGerant }}</td>
            </tr>
            <tr>
                <th>Telelephone fixe</th>
                <td>{{ pointVente.tel }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ pointVente.pays }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ pointVente.ville }}</td>
            </tr>
            <tr>
                <th>Adresse du point de vente</th>
                <td>{{ pointVente.adresse }}</td>
            </tr>
            <tr>
                <th>Quartier</th>
                <td>{{ pointVente.quartier }}</td>
            </tr>

            <tr>
                <th>Position géolocale </th>
                <td>[{{ pointVente.longitude }}, {{ pointVente.latitude }}]</td>
            </tr>

            </tbody>
            </table>
 <div class="height-250" id="map2"></div>
            </div>

          </div>
               <!-- /panel content -->

        </div>
               <!-- /PANEL -->
                     
       </div>
            <div class="col-md-5">

                             <div id="panel-2" class="panel panel-default ">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Indicateurs</strong>
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                                </div>

                                <!-- panel content -->
                                <div class="panel-body"> 
                                  {% if first is  not defined or first.pasClient or first.pasOuvert %} 

                                    <p> Aucune donnée à présenter</p>  
                                        {% else%}        
                            <h3>Indicateurs pris à la derniere visite</h3> 
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>                                    
                                            <th>Exc</th>
                                            <th>Aff</th>
                                             <th>MAP</th> 
                                             <th>PRE</th> 
                                             <th>RPD</th> 
                                             <th>RPP</th> 
                                             <th>Présence</th>                                                                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                        <tr>
                                           
                                            <td>{% if first.exc %}OUI{% else %}NON{% endif %}</td>
                                            <td>{% if first.aff %}OUI{% else %}NON{% endif %}</td>
                                            <td>{% if first.map %}OUI{% else %}NON{% endif %}</td>
                                            <td>{% if first.pre %}OUI{% else %}NON{% endif %}</td>
                                            <td>{% if first.rpd %}OUI{% else %}NON{% endif %}</td> 
                                            <td>{% if first.rpp %}OUI{% else %}NON{% endif %}</td>   
                                            <td>{% if first.pasClient %}NON{% else %}OUI{% endif %}</td>                                        
                                        </tr>
  
                                    </tbody>
                                </table>

                            </div>
                            <h3>Indicateurs sur toute la période</h3> 
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>                                    
                                            <th>Exc</th>
                                            <th>Aff</th>
                                             <th>MAP</th> 
                                             <th>PRE</th> 
                                             <th>RPD</th> 
                                             <th>RPP</th> 
                                             <th>Présence</th>                                                                                           
                                        </tr>
                                    </thead>
                                    <tbody>  
                                        <tr>      
                                            <td>{{(taux.exc*100)|number_format(0, ',', '.')}}%</td>
                                            <td>{{(taux.aff*100)|number_format(0, ',', '.')}}%</td>
                                            <td>{{(taux.map*100)|number_format(0, ',', '.')}}%</td>
                                            <td>{{(taux.pre*100)|number_format(0, ',', '.')}}%</td>
                                            <td>{{(taux.rpd*100)|number_format(0, ',', '.')}}%</td> 
                                            <td>{{(taux.rpp*100)|number_format(0, ',', '.')}}%</td>   
                                            <td>{{(100-taux.pasclient*100)|number_format(0, ',', '.')}}%</td>                                        
                                        </tr>
  
                                    </tbody>
                                </table>

                            </div>
 
                                           {% endif%}
                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->                           
                    
                      </div>
      <div class="col-md-12">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Historique des visites</strong> ({{visites|length}} visites)
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                                </div>
                                <!-- panel content -->
                                <div class="panel-body"> 
                                  {% if visites is not empty %} 
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                          <th><i class="fa fa-eye"></i></th>
                                                            <th>#Auditeur</th>
                                                            <th>Date</th>
                                                           <th>EXC</th>
                                                           <th>AFF</th>
                                                           <th>MAP</th>
                                                           <th>RPD</th>
                                                          <th>PRE</th>
                                                           <th>SAPP</th>
                                                          <th>Commentaire</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for visite in visites %}
                                            <tr>
                                            <td>
                                            <a href="{{ path('visite_show',{'id':visite.id}) }}" class="btn btn-default btn-xs" target="_blank"> <i class="fa fa-eye"></i></a>
                                            </td>
                                            
                                            <td class="col-md-4"><a href="#">{{visite.user.nom}}</a></td>
                                            <td class="col-md-2">{{visite.date | date ('d/m/Y')}}</td>

                                            <td >{% if visite.exc and not visite.pasClient and not visite.pasOuvert%}Oui{% elseif not visite.pasClient and not visite.pasOuvert %}Non{%else %}--{% endif %}</td>  

                                            <td >{% if visite.aff and not visite.pasClient and not visite.pasOuvert %}Oui{% elseif not visite.pasClient and not visite.pasOuvert %}Non{%else %}--{% endif %}</td>

                                            <td >{% if visite.map and not visite.pasClient and not visite.pasOuvert%}Oui{% elseif not visite.pasClient and not visite.pasOuvert %}Non{%else %}--{% endif %}</td>

                                            <td >{% if visite.rpd and not visite.pasClient and not visite.pasOuvert%}Oui{% elseif not visite.pasClient and not visite.pasOuvert %}Non{%else %}--{% endif %}</td>

                                            <td >{% if visite.pre and not visite.pasClient and not visite.pasOuvert %}Oui{% elseif not visite.pasClient and not visite.pasOuvert %}Non{%else %}--{% endif %}</td>

                                           <td >{% if visite.sapp and not visite.pasClient and not visite.pasOuvert%}AC{% elseif not visite.pasClient and not visite.pasOuvert %}Autre{%else %}--{% endif %}</td>

                                            <td >
                                                {% if visite.pasClient %}
                                                   Non client pour {{visite.raisonPasClient }}
                                                 {% elseif visite.pasOuvert %}
                                                     Fermé pour   {{visite.raisonPasOuvert }}
                                                  {% else %}
                                                   {{visite.commentaire }}
                                                {% endif %}
                                                </td>
                                                  </tr>
                                                  {%endfor%}

                                                    </tbody>
                                                </table>

                                            </div>
                                             {% else%} 
                                             <p> Aucune visite dans la période</p>   
                                           {% endif%}
                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->
         </div>     
</div>
</div>


{% endblock %}
{% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
};
var map=new google.maps.Map(document.getElementById("map2"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap">
</script>
       <script type="text/javascript">
    {% if first is defined %}


     loadScript( "{{ asset('assets/Chart.min.js') }}", function() {

         var data = {
          labels: [

        {% for situation in first.situations %}
          "{{situation.produit.nom}}",
         {%endfor%}
           ],
         datasets: [
             {
        data: [
        {%if totalStock>0 %} {% for situation in first.situations  %}{{(situation.stock*100/totalStock)|number_format(0, '.', ' ')}},{%endfor%}{%endif%}],


        backgroundColor: [{% for color in colors  %}"{{ color}}",{%endfor%}],
        hoverBackgroundColor: [{% for color in colors  %}"{{ color}}",{%endfor%}]
        }]
      };      
    var ctx = document.getElementById("pieChartCanvas").getContext("2d");
            new Chart(ctx,{
                type: 'pie',
               data: data
                });
      });
      {% endif %}
        </script>
 {% endblock %}