{% extends "layout.html.twig" %}
{% block title %}Connexion {% endblock %}
{% block fos_user_content %}
<body>
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage')}}"><img src="{{asset('assets/img/logo.png') }}" alt="CENTOR"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                   <li class="dropdown">
                            <a href="{{ path('admin_homepage') }}" class="dropdown-toggle" >
                                    <i class="material-icons">notifications</i>
                                 <p class="hidden-lg hidden-md">ADMIN</p>
                           </a>
                        </li>
                       <li class="dropdown">
                            <a href="{{ path('homepage') }}" class="dropdown-toggle" >
                                    <i class="material-icons">notifications</i>
                                 <p class="hidden-lg hidden-md">CONTENT</p>
                           </a>
                        </li>                         
                       <li class="dropdown">
                            <a href="{{ path('messager_homepage') }}" class="dropdown-toggle" >
                                    <i class="material-icons">notifications</i>
                                 <p class="hidden-lg hidden-md">MESSAGER</p>
                           </a>
                        </li>                        
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="black" data-color="blue"  data-image="{{asset('assets/img/cover.jpeg') }}">
            <div class="content">
                <div class="container">
				
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
						<br><br><br><br><br><br><br><br>
                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                <div class="card card-login card-hidden">
                                    <div class="card-header text-center" data-background-color="orange">
                                        <h4 class="card-title">Se connecter</h4>
                                        <div class="social-line">
                                            <p>Connectez-vous à votre compte</p>
                                        </div>
                                    </div>
                                    <p class="category text-center">
                                       
                                    </p>
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Email address</label>
                                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control">
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Password</label>
                                                <input type="password" id="password" name="_password" required="required" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" class="btn btn-primary  btn-wd btn-lg">Let's go</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav class="pull-left">

                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="#">Created</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
{% endblock fos_user_content %}
