{% extends 'base.html.twig' %}

{% block body %}
    <h1>Telephones list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for telephone in telephones %}
            <tr>
                <td><a href="{{ path('telephone_show', { 'id': telephone.id }) }}">{{ telephone.id }}</a></td>
                <td>{{ telephone.marque }}</td>
                <td>{{ telephone.modele }}</td>
                <td>{{ telephone.prix }}</td>
                <td>{{ telephone.quantite }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('telephone_show', { 'id': telephone.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
