{% extends 'base.html.twig' %}

{% block body %}
    <h1>Telephone</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ telephone.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ telephone.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ telephone.modele }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ telephone.prix }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ telephone.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('telephone_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
