{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>Produit creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('produit_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
      {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('home/js/scripts.js') }}"></script>
       {% endblock %}