{% extends "AppBundle::table.html.twig" %}
{% block page_title %}  {{session.nomConcours}}&mdash;{{ session.nom }}{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>         
        </li> 
           {% if is_granted('ROLE_CONTROLEUR')  %}
        <li>
            <a href="{{ path('session_index', { 'id': session.concours.id }) }}" >{{ session.concours.nom }}</a>
             <i class="icon-angle-right"></i> 
        </li>
        {% endif %}       
        <li>
      <a href="#">{{ session.nomConcours }}&mdash;{{ session.nom }}   ~ <b>{{ '%03d'|format(session.id) }}</b></a>          
        </li>                
      </ul>
   {% endblock %}
 {% block table_title %}Modification  </b> {% endblock %}  
{% block table %}
       {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Enrégistrer" class="btn btn-primary "/>
    {{ form_end(edit_form) }}

     <table class="table  no-table-bordered bootstrap-datatable"> 
        <tr> 
           {% if is_granted('ROLE_CONTROLEUR')  %}
        <td>
            <a href="{{ path('session_index', { 'id': session.concours.id }) }}" ><i class="halflings-icon chevron-left"></i>Retour</a>
        </td>
        {% else %}
         <td>
            <a href="{{ path('session_index') }}" ><i class="halflings-icon chevron-left"></i>Retour</a>
        </td>
        {% endif %}
          </tr> 
    </table>   
{% endblock %}
 {% block helptext %}
            <p>
            Modifier les informations sur ce concours. Cochez si oui oui non vous voudriez notifier les candidats de cette modification.
            </p>
  {% endblock %}