{% extends "AppBundle::table.html.twig" %}
{% block page_title %} {% if concour is not null %} {{concour.nom}}{% else %} Concours {% endif %}  {% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a>  
          <i class="icon-angle-right"></i>         
        </li> 
         {% if concour is not null %}
       <li>
      <a href="#">{{concour.nom}}</a>         
        </li>  
        {% else %} 
         <li>
          Concours
           </li>
        {% endif %}                   
      </ul>
 {% endblock %}
 {% block table_title %}Concours{% endblock %}  
 {% block table %}
        <table class="table  datatable" id="my-table-1">
        <thead>
            <tr>
                <th class="col-md-6">Concours</th>
                <th class="col-md-1">Préparation</th>
                <th class="col-md-1">Documents</th>
                <th class="col-md-1">Liens utils</th>
                <th class="col-md-1">Inscrits à la prépa</th>
                <th class="col-md-1">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td><a href="{{ path('session_show', { 'id': session.id }) }}">
                   <h2>{{ session.nomConcours }}&mdash;{{ session.nom }}</h2> 
                   <p>{{ session.concours.ecole }}</p> 
                </a>
            </td>
                <td>{% if session.preparation is not null%}
                    {% if session.preparation.matieres is not empty %}
                   <a href="{{ path('matiere_index', { 'id': session.preparation.id,'session': session.id}) }}">
                   {{ session.preparation.nom }}
                    <p>{{ session.preparation.abreviation }}</p> 
                    </a>
                    {% else  %}
                    <a href="{{ path('matiere_new', { 'id': session.preparation.id ,'session': session.id}) }}">
                     <h4> {{ session.preparation.nom }}</h4>
                    <p>{{ session.preparation.abreviation }}</p> 
                    </a>
                    {% endif %}
                {% else  %}
                    <a href="{{ path('programme_new', { 'session': session.id }) }}">
                    Créer un programme
                     </a>
                {% endif %}
            </td>
                <td>  {% if session.ressources is not empty %}
                    <a href="{{ path('ressource_index', { 'session': session.id }) }}">
                        {{ session.ressources|length }} documents
                    </a>
                    {% else  %}
                    <a href="{{ path('ressource_new', { 'session': session.id }) }}">
                        Créer un document
                    </a>
                    {% endif %}
                    </td>
                <td>
                    {% if session.liens is not empty %}
                    <a href="{{ path('objectif_index', { 'id': session.id }) }}">
                        {{ session.liens|length }} liens
                    </a>
                    {% else  %}
                        <a href="{{ path('objectif_new', { 'id': session.id }) }}">
                        Créer un lien
                    </a>
                    {% endif %}
                </td>
                <td>{% if session.preparation is not null%}
                    <span class="label label-info">
                  {{ session.abonnements|length }}
                   </span>
                   {% else  %}
                    --
                    {% endif %}
                </td>
                <td class="center ">
                               <a class="btn btn-success" href="{{ path('session_show', { 'id': session.id }) }}">
                                        <i class="halflings-icon white zoom-in"></i>  
                                </a>
                                {% if  is_granted('ROLE_CONTROLEUR') %}    
                                    <a class="btn btn-info" href="{{ path('session_attr', { 'id': session.id }) }}">
                                        <i class="halflings-icon white user"></i>  
                                    </a>
                         {% endif %}
                </td>                 
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if concour is not null %}
    <a href="{{ path('session_new',{ 'id': concour.id }) }}" class="btn btn-default ">Creér une session</a> 
     {% endif %} 
{% endblock %}
