{% extends "AppBundle::layout.html.twig" %}
{% block title %}{{session.nomConcours|upper}} &mdash; {{ session.nom|upper }}{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ session.nom }}</td>
            </tr>
            <tr>
                <th>Nombreplace</th>
                <td>{{ session.nombrePlace }}</td>
            </tr>
            <tr>
                <th>Nombreinscrit</th>
                <td>{{ session.nombreInscrit }}</td>
            </tr>
            <tr>
                <th>Datelancement</th>
                <td>{% if session.dateLancement %}{{ session.dateLancement|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateconcours</th>
                <td>{% if session.dateConcours %}{{ session.dateConcours|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datedossier</th>
                <td>{% if session.dateDossier %}{{ session.dateDossier|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('session_index', { 'id': session.concours.id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('session_edit', { 'id': session.id }) }}">Edit</a>
        </li>
    </ul>

    <h2> Les lien utils</h2>
    <table>
        <tbody>
        {% for objectif in session.liens %}
            <tr>
                <td>{{ objectif.titre }}</td>
                <td><a href="{{ objectif.description }}"> Ouvrir</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <ul>
        <li>
    <a href="{{ path('objectif_new',{ 'id': session.id }) }}" class="btn btn-default ">Créer un lien util</a>
        </li>
        <li>
    <a href="{{ path('ressource_index',{ 'session': session.id }) }}" class="btn btn-default ">Créer une ressource</a>
        </li>        
    </ul>

{% endblock %}
