{% extends "AppBundle::table.html.twig" %}
{% block page_title %} {{session.nomConcours}}&mdash;{{ session.nom }} {% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>         
        </li> 
           {% if is_granted('ROLE_CONTROLEUR')  %}
        <li>
            <a href="{{ path('session_index', { 'id': session.concours.id }) }}" >{{ session.concours.nom }}</a>
             <i class="icon-angle-right"></i> 
        </li>
        {% endif %} 
        <li>       
        <li>
      <a href="#">{{ session.nomConcours }}&mdash;{{ session.nom }}   ~ <b>{{ '%03d'|format(session.id) }}</b></a>          
        </li>                
      </ul>
   {% endblock %}
 {% block table_title %}{{ session.nomConcours }}&mdash;{{ session.nom }}   ~ <b>{{ '%03d'|format(session.id) }}</b> {% endblock %}  
{% block table %}
    <table class="table table-striped table-bordered bootstrap-datatable"> 
        <tbody>
             <tr>
                <th>#REFERENCE </th>
                <td><b>{{ '%03d'|format(session.id) }}</b></td>
            </tr>           
            <tr>
                <th>places disponibles</th>
                <td>{{ session.nombrePlace }}</td>
            </tr>
            <tr>
                <th>Nombre de candidats</th>
                <td>{{ session.nombreInscrit }}</td>
            </tr>
            <tr>
                <th>Date de lancement</th>
                <td>{% if session.dateLancement %}{{ session.dateLancement|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date du concours</th>
                <td>{% if session.dateConcours %}{{ session.dateConcours|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date limite des dossiers</th>
                <td>{% if session.dateDossier %}{{ session.dateDossier|date('Y-m-d') }}{% endif %}</td>
            </tr>
                <tr>
                <th>Documents</th>
                <td>  {% if session.ressources is not empty %}
                    <a href="{{ path('ressource_index', { 'session': session.id }) }}">
                        {{ session.ressources|length }} documents
                    </a>
                    {% else  %}
                    <a href="{{ path('ressource_new', { 'session': session.id }) }}">
                        Créer un document
                    </a>
                    {% endif %}
                    </td>            
                <tr>
                <tr>
                <th>Liens utils</th>
                <td>
                    {% if session.liens is not empty %}
                    <a href="{{ path('objectif_index', { 'id': session.id }) }}">
                        {{ session.liens|length }} liens
                    </a>
                    {% else  %}
                        <a href="{{ path('objectif_new', { 'id': session.id }) }}">
                        Créer un lien
                    </a>
                    {% endif %}
                </td>            
                <tr>                    
                <th>Préparation</th>
                <td>{% if session.preparation is not null%}
                    {% if session.preparation.matieres is not empty %}
                   <a href="{{ path('matiere_index', { 'id': session.preparation.id,'session': session.id}) }}">
                    {{ session.preparation.nom }}
                    </a>
                    {% else  %}
                    <a href="{{ path('matiere_new', { 'id': session.preparation.id ,'session': session.id}) }}">
                    {{ session.preparation.nom }}
                    </a>
                    {% endif %}
                {% else  %}
                    <a href="{{ path('programme_new', { 'session': session.id }) }}">
                    Créer un programme
                     </a>
                {% endif %}
            </td>
            </tr>
            <tr>  
                <th>Inscrits à la prépa</th>
                <td>
                    {% if session.preparation is not null%}
                  {{ session.abonnements|length }}
                {% endif %}
            </td>
            </tr> 
           
            <tr>  
                <th>Supervision </th>
                <td>
            {% if session.user is not null%}
                  {{ session.user.nom }} ~ {{ session.user.username }} 
                    {% if is_granted('ROLE_CONTROLEUR')  %}
               <a href="{{ path('session_attr', { 'id': session.id }) }}"><i class="halflings-icon user"></i> Modifier</a>
                {% endif %} 
           {% else %}
                {% if is_granted('ROLE_CONTROLEUR')  %}
                   <a href="{{ path('session_attr', { 'id': session.id }) }}"><i class="halflings-icon user"></i> Attribuer</a>
                {% endif %}
          {% endif %} 
            </td>
            </tr> 
                                           
        </tbody>
    </table>

    <table class="table  no-table-bordered bootstrap-datatable">
        <tr> 
         {% if is_granted('ROLE_CONTROLEUR')  %}
        <td>
            <a href="{{ path('session_index', { 'id': session.concours.id }) }}" ><i class="halflings-icon chevron-left"></i>Retour</a>
        </td>
        {% else %}
         <td>
            <a href="{{ path('session_index') }}" ><i class="halflings-icon chevron-left"></i>Retour</a>
        </td>
        {% endif %}
        <td>
            <a href="{{ path('session_edit', { 'id': session.id }) }}"><i class="halflings-icon edit"></i>Modifier une information</a>
        </td>
          {% if is_granted('ROLE_SUPERVISEUR')  %}
        <td>
            <a href="{{ path('session_decrire', { 'id': session.id }) }}" class="btn btn-info">Présentation commerciale</a>
        </td>  
          {% endif %}  
        <td>
           <a href="{{ path('notification_new',{'id':session.groupe.id}) }}" class="btn btn-warning">Publier une annonce</a>
        </td>
          </tr> 
    </table>

{% endblock %}
