{% extends 'base.html.twig' %}

{% block body %}
    <h1>Candidat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidat.id }}</td>
            </tr>
            <tr>
                <th>Displayname</th>
                <td>{{ candidat.displayName }}</td>
            </tr>
            <tr>
                <th>Parentphone</th>
                <td>{{ candidat.parentPhone }}</td>
            </tr>
            <tr>
                <th>Etablissement</th>
                <td>{{ candidat.etablissement }}</td>
            </tr>
            <tr>
                <th>Branche</th>
                <td>{{ candidat.branche }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ candidat.ville }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidat.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('candidat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('candidat_edit', { 'id': candidat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
