{% extends 'base.html.twig' %}

{% block body %}
    <h1>Situationpointvente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ situationPointVente.id }}</td>
            </tr>
            <tr>
                <th>Datesave</th>
                <td>{% if situationPointVente.dateSave %}{{ situationPointVente.dateSave|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Visibilite</th>
                <td>{{ situationPointVente.visibilite }}</td>
            </tr>
            <tr>
                <th>Respectprix</th>
                <td>{% if situationPointVente.respectPrix %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Stockactuel</th>
                <td>{{ situationPointVente.stockActuel }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('situationpointvente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('situationpointvente_edit', { 'id': situationPointVente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
