{% extends 'base.html.twig' %}

{% block body %}
    <h1>Analyses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Note</th>
                <th>Objectif</th>
                <th>Programme</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for analyse in analyses %}
            <tr>
                <td><a href="{{ path('analyse_show', { 'id': analyse.id }) }}">{{ analyse.id }}</a></td>
                <td>{{ analyse.note }}</td>
                <td>{{ analyse.objectif }}</td>
                <td>{{ analyse.programme }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('analyse_show', { 'id': analyse.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('analyse_edit', { 'id': analyse.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('analyse_new') }}">Create a new analyse</a>
        </li>
    </ul>
{% endblock %}
