{% extends 'base.html.twig' %}

{% block body %}
    <h1>Analyse</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ analyse.id }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ analyse.note }}</td>
            </tr>
            <tr>
                <th>Objectif</th>
                <td>{{ analyse.objectif }}</td>
            </tr>
            <tr>
                <th>Programme</th>
                <td>{{ analyse.programme }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('analyse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('analyse_edit', { 'id': analyse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
