{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clients list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Username</th>
                <th>Salt</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Latlocal</th>
                <th>Longlocal</th>
                <th>Piment</th>
                <th>Place</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.nom }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.username }}</td>
                <td>{{ client.salt }}</td>
                <td>{% if client.roles %}{{ client.roles|join(', ') }}{% endif %}</td>
                <td>{{ client.password }}</td>
                <td>{{ client.latLocal }}</td>
                <td>{{ client.longLocal }}</td>
                <td>{% if client.piment %}Yes{% else %}No{% endif %}</td>
                <td>{{ client.place }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('client_edit', { 'id': client.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_new') }}">Create a new client</a>
        </li>
    </ul>
{% endblock %}
