{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ client.username }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ client.salt }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% if client.roles %}{{ client.roles|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ client.password }}</td>
            </tr>
            <tr>
                <th>Latlocal</th>
                <td>{{ client.latLocal }}</td>
            </tr>
            <tr>
                <th>Longlocal</th>
                <td>{{ client.longLocal }}</td>
            </tr>
            <tr>
                <th>Piment</th>
                <td>{% if client.piment %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ client.place }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
