{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rapport</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rapport.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if rapport.date %}{{ rapport.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Periode</th>
                <td>{{ rapport.periode }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ rapport.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rapport_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
