{% extends "MessagerBundle::table.html.twig" %}
{% block page_title %}Notification{% endblock %}
{% block table %}
<div class="card"> 
      <div class="card-content">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
      {% if not notification.sendNow %}
        <input type="submit" value="Enregistrer" />
        {% endif %} 
    {{ form_end(edit_form) }}
</div>
</div>
    <ul>
        <li>
            <a href="{{ path('notification_index') }}">Back to the list</a>
        </li>
        {% if not notification.sendNow %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}        
    </ul>
{% endblock %}
