{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Communication{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Communication</a></li>
      </ul>
   {% endblock %}
   {% block table_title %}Messages grand public{% endblock %}  
{% block table %}
        <table class="table  datatable" id="my-table-1">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Destinataire</th>
                <th>Lecture</th>
                <th>Appréciation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.titre }}</td>
                <td>{% if notification.date %}{{ notification.date|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{% if notification.groupe %}{{notification.groupe.nom}}{% else %}Tout le monde{% endif %}
                    {% if not notification.sendNow %}
                        <span class="label">
                             {{ render(controller( 'MessagerBundle:Notification:getDestNumber', { 'id': notification.id }))|number_format(1, ',', '.') }}
                        </span>
                   {% else %}
                       <span class="label label-success">{{notification.sendings|length}}</span>
                   {% endif %}
                </td>
                <td>{% if render(controller( 'MessagerBundle:Notification:getReading', { 'id': notification.id })) %} 
                  <b >{{ render(controller( 'MessagerBundle:Notification:getReading', { 'id': notification.id }))|number_format(1, ',', '.') }}%</b>
                   {% endif %}
                </td>
                <td><b>{{ render(controller( 'MessagerBundle:Notification:getRate', { 'id': notification.id }))|number_format(1, ',', '.') }}/5</b></td>
                <td class="center ">
                               <a class="btn btn-success" href="{{ path('notification_show', { 'id': notification.id }) }}">
                                        <i class="halflings-icon white zoom-in"></i>  
                                    </a>
                                {% if not notification.sendNow %}    
                                    <a class="btn btn-info" href="{{ path('notification_edit', { 'id': notification.id }) }}">
                                        <i class="halflings-icon white edit"></i>  
                                    </a>
                               {% endif %}
                        </td>                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <table class="table  no-table-bordered bootstrap-datatable">
        <tr> 
        <td>
           <a href="{{ path('notification_new') }}" class="btn btn-default">Créer une nouvelle publication</a>
        </td>
        <td>
           <a href="{{ path('resultat_new') }}" class="btn btn-info">Publier un résultat</a>
        </td>
        <td>
           <a href="{{ path('notification_resent') }}" class="btn btn-success">Rappeler les messages non lus</a>
        </td>

         </tr>
    </table>
{% endblock %}
