{% extends "MessagerBundle::table.html.twig" %}
{% block page_title %}Notification{% endblock %}
{% block table %}
    <table>
        <tbody>       
            <tr>
                <th>Titre</th>
                <td>{{ notification.titre }}</td>
            </tr>

            <tr>
                <th>Soustitre</th>
                <td>{{ notification.sousTitre }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{% if notification.user %}{{ notification.user.usename }}{% else %}--{% endif %}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{% if notification.groupe %}{{notification.groupe.nom}}{% else %}Tout le monde{% endif %}
                    {% if not notification.sendNow %}
                        <span class="label">
                             {{ render(controller( 'MessagerBundle:Notification:getDestNumber', { 'id': notification.id }))|number_format(0, ',', '.') }}
                        </span>
                   {% else %}
                       <span class="label label-success">{{notification.sendings|length}}</span>
                   {% endif %}
                </td>
            </tr>
            <tr>
                <th>Note</th>
                <td><b>{{ render(controller( 'MessagerBundle:Notification:getRate', { 'id': notification.id })) }}/5</b></td>
            </tr>
            <tr>
                <th>Lecture</th>
                <td><b>{{ render(controller( 'MessagerBundle:Notification:getReading', { 'id': notification.id }))|number_format(0, ',', '.') }}%</b></td>
            </tr>                         
            <tr>
                <th>Date</th>
                <td>{% if notification.date %}{{ notification.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <td>{{ notification.text| raw }}</td>
            </tr>
            
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('notification_index') }}">Back to the list</a>
        </li>

        {% if not notification.sendNow %}
        <li>
            <a href="{{ path('notification_edit', { 'id': notification.id }) }}" class="btn btn-secondary">Modifier</a>
        </li>
        <li>
            {{ form_start(send_form) }}
                <input type="submit" value="Envoyer maintenant" class="btn btn-primary">
            {{ form_end(send_form) }}
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
      
        {% endif %}
    </ul>
{% endblock %}
