{% extends "AppBundle::table.html.twig" %}
{% block page_title %}{{notification.titre}}{% endblock %}
      {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="{{ path('notification_index') }}">Communication</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#">{{notification.titre}}</a>
        </li>
      </ul>
   {% endblock %}
   {% block table_title %}{{notification.titre}} {% endblock %} 
{% block table %}
    <table class="table  no-table-bordered bootstrap-datatable">
        <tbody>       
            <tr>
                <th>Titre</th>
                <td>{{ notification.titre }}</td>
            </tr>

            <tr>
                <th>Soustitre</th>
                <td>{{ notification.sousTitre }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{% if notification.user %}{{ notification.user.nom }}~ {{ notification.user.username }}{% else %}--{% endif %}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{% if notification.groupe %}{{notification.groupe.nom}}{% else %}Tout le monde{% endif %}
                    {% if not notification.sendNow %}
                        <span class="label">
                             {{ render(controller( 'MessagerBundle:Notification:getDestNumber', { 'id': notification.id }))|number_format(1, ',', '.') }}
                        </span>
                   {% else %}
                       <span class="label label-success">{{notification.sendings|length}}</span>
                   {% endif %}
                </td>
            </tr>
            <tr>
                <th>Note</th>
                <td><b>{{ render(controller( 'MessagerBundle:Notification:getRate', { 'id': notification.id }))|number_format(1, ',', '.') }}/5</b></td>
            </tr>
            <tr>
                <th>Lecture</th>
                <td><b>{{ render(controller( 'MessagerBundle:Notification:getReading', { 'id': notification.id }))|number_format(1, ',', '.') }}%</b></td>
            </tr>                         
            <tr>
                <th>Date</th>
                <td>{% if notification.date %}{{ notification.date|date('d/m/Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                 <th>Corps du message</th>
                <td>{{ notification.text| raw }}</td>
            </tr>
            
        </tbody>
    </table>

    <table class="table  no-table-bordered bootstrap-datatable">
        <tr> 
        <td>
            <a href="{{ path('notification_index') }}" ><i class="halflings-icon chevron-left"></i>Retour</a>
        </td>
           {% if not notification.sendNow %}
        <td>
            <a href="{{ path('notification_edit', { 'id': notification.id }) }}" ><i class="halflings-icon edit"></i>Modifier</a>
        </td>

        <td>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </td>
        <td>
             {% if is_granted('ROLE_MESSAGER') %}
            {{ form_start(send_form) }}
                <input type="submit" value="Publier maintenant" class="btn btn-primary">
            {{ form_end(send_form) }}
               {% endif %}
        </td>
        {% endif %}
         </tr>
    </table>
{% endblock %}
