{% extends 'base.html.twig' %}

{% block body %}
    <h1>Journee</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ journee.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if journee.date %}{{ journee.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{% if journee.debut %}{{ journee.debut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Longdebut</th>
                <td>{{ journee.longDebut }}</td>
            </tr>
            <tr>
                <th>Latdebut</th>
                <td>{{ journee.latDebut }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('journee_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('journee_edit', { 'id': journee.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
