{% extends "AppBundle::table.html.twig" %}
{% block page_title %}{{article.titre}}{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
          <a href="{{ path('content_index', { 'id': article.id }) }}">{{article.titre}}</a> 
        </li>        
      </ul>
   {% endblock %}
   {% block table_title %}Les différentes parties du cours{% endblock %} 
{% block table %}
	     <table class="table  datatable" id="my-table-1">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Explication</th>             
                <th>Est validée</th>              
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>
                <a href="{{ path('content_show', { 'id': content.id }) }}">
                  {{ content.subtitle | raw}}
                  </a>
                </td>
                <td> 
                    {% if content.explication is not null %}
                       <a href="{{ path('explication_show', { 'id': content.explication.id ,'content': content.id }) }}" >Explication</a>
                    {% else %}
                      <a href="{{ path('explication_new', { 'content': content.id }) }}" >Rédiger une explication</a>
                      <span class="label label-important">
                      {{ render(controller( 'AppBundle:Content:getBlockedPersons', { 'id': content.id })) }} 
                     </span>
                    {% endif %}
                     </td>  
               <td>{% if content.validated %}
                OUI  <a href="{{ path('content_toggle', { 'id': content.id }) }}" class="btn btn-small btn-success">Invalider</a>
               {% else %}
                NON  <a href="{{ path('content_toggle', { 'id': content.id }) }}" class="btn btn-small btn-warning">Valider</a>
               {% endif %}
             </td>                       
                <td>
            <a href="{{ path('content_edit', { 'id': content.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<a href="{{ path('content_new', { 'id': article.id }) }}">Completer le cours</a>   
{% endblock %}
