{% extends "AppBundle::table.html.twig" %}
{% block page_title %}{{article.titre}}{% endblock %}

  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
          <i class="icon-home"></i>
          <a href="{{ path('content_index', { 'id': article.id }) }}">{{article.titre}}</a> 
        </li>        
      </ul>
   {% endblock %}
   {% block table_title %}{{article.titre}}{% endblock %} 

{% block body %}
	     <table class="table table-striped table-bordered bootstrap-datatable datatable" id="my-table-1">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{ content.subtitle | raw}}</td>
                <td>{{ content.text| raw }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('content_show', { 'id': content.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('content_edit', { 'id': content.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('content_new', { 'id': article.id }) }}">Co;pleter le cours</a>
        </li>
    </ul>   
{% endblock %}
