{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Nouvelle partie{% endblock %}

  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
          <i class="icon-home"></i>
          <a href="{{ path('content_index', { 'id': article.id }) }}">{{article.titre}}</a> 
          <i class="icon-angle-right"></i>
        </li>        
        <li><a href="#">Nouvelle partie</a></li>
      </ul>
   {% endblock %} 
   {% block table_title %}Nouvelle partie{% endblock %} 
{% block table %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
           <br>
        <input type="submit" value="Enrégistrer" class="btn btn-info" />
    {{ form_end(form) }}
     

     <table class="table  no-table-bordered bootstrap-datatable">
        <tr> 
         <td>
           <i class="halflings-icon chevron-left"></i><a href="{{ path('content_index', { 'id': article.id }) }}">Retour</a>
        </td>
        <td>
            <a href="#" class="btn btn-warning btn-setting">Saisir une formule</a>
        </td> 
      </tr> 
    </table>


{% endblock %}

 {% block javascripts %}
{{parent()}}
<script>
function inyectarTexto(elemento,valor){
 var elemento_dom=document.getElementById(elemento);//[0];
 if(document.selection){
  elemento_dom.focus();
  sel=document.selection.createRange();
  sel.text=valor;
  return;
 }if(elemento_dom.selectionStart||elemento_dom.selectionStart=="0"){
  var t_start=elemento_dom.selectionStart;
  var t_end=elemento_dom.selectionEnd;
  var val_start=elemento_dom.value.substring(0,t_start);
  var val_end=elemento_dom.value.substring(t_end,elemento_dom.value.length);
  elemento_dom.value=val_start+valor+val_end;
 }else{
  elemento_dom.value+=valor;
 }
}
</script>
<script>
function myFunction() {
  inyectarTexto('form_text',editor.getMathML()) ;
  $("#myModal").modal("hide");
}
</script> 
{% if not article.partie.containMath %}  
<script>
 CKEDITOR.replace( 'form_text' );

  </script>
{% endif %}
{% endblock %}   