{% extends "AppBundle::table.html.twig" %}
{% block page_title %}{{ content.subtitle }}{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
          <a href="{{ path('content_index', { 'id': content.article.id }) }}">{{content.article.titre}}</a> 
          <i class="icon-angle-right"></i>
        </li>        
        <li><a href="#">{{ content.subtitle }}</a></li>
      </ul>
   {% endblock %}
   {% block table_title %}{{ content.subtitle}}{% endblock %}
{% block table %}
    <table>
        <tbody>
            <tr>
                <td>{{ content.subtitle| raw }}</td>
            </tr>
            <tr>
                <td>{{ content.text| raw }}</td>
            </tr>
             <tr>
           {% if content.validated %}
               <a href="{{ path('content_toggle', { 'id': content.id }) }}" class="btn btn-small btn-success">Invalider</a>
               {% else %}
                 <a href="{{ path('content_toggle', { 'id': content.id }) }}" class="btn btn-small btn-warning">Valider</a>
               {% endif %}  
              </tr>          
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('content_index', { 'id': content.article.id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('content_edit', { 'id': content.id }) }}">Modifier</a>
        </li>
    </ul>
     <br>
      {% if content.explication is not null %}
          <a href="{{ path('explication_show', { 'id': content.explication.id ,'content': content.id }) }}" class="btn btn-small btn-success">Explication</a> 
         {% endif %}
    <br>
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-small btn-danger">
            {{ form_end(delete_form) }}
{% endblock %}
