{% extends "AppBundle::table.html.twig" %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="#">Home</a> 
          <i class="icon-angle-right"></i>         
        </li>
        <li>
      <a href="{{ path('session_show', { 'id': ressource.session.id }) }}">{{ressource.session.nomConcours}} ~ {{ressource.session.nom}} </a> 
          <i class="icon-angle-right"></i>          
        </li>  
        <li>        
        <li>
      <a href="{{ path('objectif_index', { 'id': ressource.session.id }) }}">{{objectif.titre}} </a>      
        </li>                
      </ul>
   {% endblock %}
 {% block table_title %}Edition de {{ressource.nom}}{% endblock %}  
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Enrégistrer" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('ressource_index', { 'session': ressource.session.id }) }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
