{% extends "AppBundle::table.html.twig" %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="#">Home</a> 
          <i class="icon-angle-right"></i>         
        </li>
        <li>
      <a href="{{ path('session_show', { 'id': ressource.session.id }) }}">{{ressource.session.nomConcours}} ~ {{ressource.session.nom}} </a> 
          <i class="icon-angle-right"></i>          
        </li>        
        <li> 
      <a href="{{ path('ressource_index', { 'session': ressource.session.id }) }}">{{ressource.nom}}</a>          
        </li>                 
      </ul>
   {% endblock %}
 {% block table_title %}Détails de {{ressource.nom}} {% endblock %}  
{% block table %}
    <table>
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ ressource.nom }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ ressource.price }}</td>
            </tr>            
            <tr>
                <th>Description</th>
                <td>{{ ressource.description }}</td>
            </tr>
            <tr>
                <th>Detail1</th>
                <td>{{ ressource.detail1 }}</td>
            </tr>
            <tr>
                <th>Detail2</th>
                <td>{{ ressource.detail2 }}</td>
            </tr>
            <tr>
                <th>Detail3</th>
                <td>{{ ressource.detail3 }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ ressource.url }}</td>
            </tr>
            <tr>
                <th>Imageurl</th>
                <td>{{ ressource.imageUrl }}</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('ressource_index', { 'session': ressource.session.id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ressource_edit', { 'id': ressource.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
