{% extends 'base.html.twig' %}

{% block body %}
    <h1>Souscripteurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Sexe</th>
                <th>Age</th>
                <th>Csp</th>
                <th>Assuranceactuelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for souscripteur in souscripteurs %}
            <tr>
                <td><a href="{{ path('souscripteur_show', { 'id': souscripteur.id }) }}">{{ souscripteur.id }}</a></td>
                <td>{{ souscripteur.nom }}</td>
                <td>{{ souscripteur.prenom }}</td>
                <td>{{ souscripteur.telephone }}</td>
                <td>{{ souscripteur.sexe }}</td>
                <td>{{ souscripteur.age }}</td>
                <td>{{ souscripteur.csp }}</td>
                <td>{{ souscripteur.assuranceactuelle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('souscripteur_show', { 'id': souscripteur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('souscripteur_edit', { 'id': souscripteur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('souscripteur_new') }}">Create a new souscripteur</a>
        </li>
    </ul>
{% endblock %}
