{% extends 'base.html.twig' %}

{% block body %}
    <h1>Souscripteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ souscripteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ souscripteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ souscripteur.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ souscripteur.telephone }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ souscripteur.sexe }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ souscripteur.age }}</td>
            </tr>
            <tr>
                <th>Csp</th>
                <td>{{ souscripteur.csp }}</td>
            </tr>
            <tr>
                <th>Assuranceactuelle</th>
                <td>{{ souscripteur.assuranceactuelle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('souscripteur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('souscripteur_edit', { 'id': souscripteur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
