{% extends "AppBundle::table.html.twig" %}
{% block page_title %}{{ article.titre }}{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
          <i class="icon-home"></i>
          <a href="{{ path('content_index', { 'id': article.id }) }}">{{article.titre}}</a> 
        </li>        
      </ul>
   {% endblock %}
   {% block table_title %}Modification{% endblock %} 
{% block table %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Enrégistrer" class="btn btn-info" />
    {{ form_end(edit_form) }}
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger" >
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
 {% block javascripts %}
{{parent()}}
   <script>
 CKEDITOR.replace( 'form_introduction' );
  </script>
 {% endblock %} 