{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Article edit{% endblock %}
{% block table %}
	     <table class="table table-striped table-bordered bootstrap-datatable datatable" id="my-table-1">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Introduction</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('content_index', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td><a href="{{ path('content_index', { 'id': article.id }) }}">{{ article.titre }}</a></td>
                <td>{{ article.introduction }}</td>
                <td>{% if article.date %}{{ article.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('article_show', { 'id': article.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
