{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Nouveau Cours{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('homepage')}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
             <a >{{ article.partie.titre}}</a> 
        </li>   
        </li>
             <a >Saisie du cours</a> 
        </li>        
      </ul>
   {% endblock %}
   {% block table_title %}Prémière partie du cours{% endblock %} 
{% block table %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <input type="submit" value="Enrégistrer" class="btn btn-info" />
    {{ form_end(form) }}
{% endblock %}
 {% block javascripts %}
{{parent()}}
   <script>
  CKEDITOR.replace( 'form_introduction' );;
  </script>
 {% endblock %} 