{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Nouveau article{% endblock %}
{% block table %}
    <table class="table">
        <tbody>
             {% if article.user %}
               <tr>
                <th>Editeur</th>
                <td>{{ article.user.username }}</td>
              </tr>
                {% endif %} 
                {% if article.validateur %}
             <tr>    
                 <th>Validateur</th>
                <td>{{ article.validateur.username }}</td>
             </tr>   
                {% endif %}
            
           <tr>
                <th>Date</th>
                <td>{% if article.date %}{{ article.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>              
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            {% if article.image %}
            <tr>
                <td>{{ article.image }}</td>
            </tr>
             {% endif %}
            <tr>
                <th>Introduction</th>
                <td>{{ article.introduction }}</td>
            </tr>
            <tr>
                <th>Paragraphes</th>
                <td> 
                 <ul>
                {% for content in article.contents %}
                   <li>
                <p>{{content.subtitle}}</p>
                 <p> {{content.text}}</p>
                   </li>
                  {% endfor %}
                </ul>
                <a href="{{ path('content_new', { 'id': article.id }) }}">Create a new paragraphe</a>
               </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
