{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Ventes des télephones{% endblock %}
{% block body %}
                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card card-stats">
	                            <div class="card-header" data-background-color="red">
	                                <h4 class="title">Historique des vente</h4>
	                                <p class="category">Historique des ventes réalisées aucours de la période</p>
	                            </div>
								<div class="card-content">
									<p class="category">Télephones vendus</p>
									<h3 class="title">{{ventes|length}}</h3>
								</div>								
	                            <div class="card-footer table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Nom du Client</th>
	                                    	<th>Telephone</th>
	                                    	<th>Date</th>
											<th>Nom du Commercial</th>
	                                        <th>Marque & Modèle</th>											
											<th>Prix </th>
	                                    </thead>
	                                    <tbody>
										 {% for vente in ventes %}										
	                                        <tr>
	                                        	<td>{{vente.client.nom}}</td>
	                                        	<td>{{vente.client.telephone}}</td>
	                                        	<td>{{vente.date| date('d/m/Y')}}</td>
												<td>
												{% if vente.user.nom %}{{vente.user.nom}}{% else %}{{vente.user.username}}{% endif %}
												</td>
												<td>{{vente.telephone.marque}} {{vente.telephone.modele}}</td>
												<td class="text-primary">{{vente.prix}} XAF</td>
	                                        </tr>
									 {% endfor %}			
	                                    </tbody>
	                                </table>

	                            </div>
	                        </div>
	                    </div>
</div>
{% endblock %}
