{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vente.id }}</td>
            </tr>
            <tr>
                <th>Imei</th>
                <td>{{ vente.imei }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ vente.prix }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vente_edit', { 'id': vente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
