{% extends "AdminBundle::table.html.twig" %}
{% block page_title %}Abonnement{% endblock %}
{% block body %}
      <div class="row-fluid sortable">    
        <div class="box span12">
          <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Members</h2>
            <div class="box-icon">
              <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
              <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
              <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
          </div>
          <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="my-table">
          <thead>
            <tr>
                <th>Programme</th>
                <th>Startdate</th>
                 <th>Enddate</th>
                <th>Method</th>
                <th>Plan</th>
                <th>Price</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.session.nomConcours }}</td>
                <td>{% if abonnement.startDate %}{{ abonnement.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                 <td>{% if abonnement.endDate %}{{ abonnement.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ abonnement.method }}</td>
                <td>{{ abonnement.plan }}</td>
                <td>{{ abonnement.price }}</td>
                <td>{{ abonnement.status }}</td>
                <td>
  <a href="{{ path('abonnement_show', { 'id': abonnement.id }) }}">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
          </div>
        </div><!--/span-->
      
      </div><!--/row-->
    
   
{% endblock %}
