{% extends "AdminBundle::layout.html.twig" %}
{% block title %}TABLEAU DE BORD{% endblock %}
{% block body %}

            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                  <i class="material-icons">content_copy</i>
                </div>
                <div class="card-content">
                  <p class="category">Concours</p>
                  <h3 class="title">{{concours|length}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-danger">warning</i> <a href="#pablo">Voir la liste</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                  <i class="material-icons">store</i>
                </div>
                <div class="card-content">
                  <p class="category">Abonnements</p>
                  <h3 class="title">{{abonnements|length}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Voir la liste
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header" data-background-color="red">
                  <i class="material-icons">info_outline</i>
                </div>
                <div class="card-content">
                  <p class="category">Evalués</p>
                  <h3 class="title">7600</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Github
                  </div>
                </div>
              </div>
            </div>

<div class="col-md-12">
<div class="card">
  <div class="card-header" data-background-color="purple">
   <h4 class="title">ABONNEMENTS</h4>
      <p class="category">Liste des inscriptions</p>
    </div>
     <div class="card-content table-responsive">
     <h3 class="title"></h3>
         <table class="table"  id="my-table">
        <thead>
            <tr>
                <th>studentId</th>
                <th>Programme</th>
                <th>Startdate</th>
                 <th>Enddate</th>
                <th>Method</th>
                <th>Plan</th>
                <th>Price</th>
                <th>Status</th>
                <th>Telpaidnumber</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td><a href="{{ path('abonnement_show', { 'id': abonnement.id }) }}">{{ abonnement.uid }}</a></td>
                <td>{{ abonnement.session.concours.nom }}</td>
                <td>{% if abonnement.startDate %}{{ abonnement.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                 <td>{% if abonnement.endDate %}{{ abonnement.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ abonnement.method }}</td>
                <td>{{ abonnement.plan }}</td>
                <td>{{ abonnement.price }}</td>
                <td>{{ abonnement.status }}</td>
                <td>{{ abonnement.telPaidNumber }}</td>
                <td>
  <a href="{{ path('abonnement_show', { 'id': abonnement.id }) }}">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div 
 </div>
 </div>
   
{% endblock %}
