{% extends "AdminBundle::table.html.twig" %}
{% block page_title %}Abonnement{% endblock %}
{% block table %}
    <h1>{{ abonnement.session.nomConcours }}</h1>
    <table>
        <tbody>
            <tr>
                <th>Enddate</th>
                <td>{% if abonnement.endDate %}{{ abonnement.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if abonnement.startDate %}{{ abonnement.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Method</th>
                <td>{{ abonnement.method }}</td>
            </tr>
            <tr>
                <th>Plan</th>
                <td>{{ abonnement.plan }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ abonnement.price }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ abonnement.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('abonnement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('abonnement_edit', { 'id': abonnement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
