{% extends "AppBundle::layout.html.twig" %}
{% block title %}{{ concour.nom|upper }}{% endblock %}
{% block body %}

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ concour.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ concour.nom }}</td>
            </tr>
            <tr>
                <th>Ecole</th>
                <td>{{ concour.ecole }}</td>
            </tr>
            <tr>
                <th>Abreviation</th>
                <td>{{ concour.abreviation }}</td>
            </tr>
            <tr>
                <th>Descriptionecole</th>
                <td>{{ concour.descriptionEcole }}</td>
            </tr>
            <tr>
                <th>Descriptionconcours</th>
                <td>{{ concour.descriptionConcours }}</td>
            </tr>
            <tr>
                <th>Contacts</th>
                <td>{{ concour.contacts }}</td>
            </tr>
            <tr>
                <th>Imageurl</th>
                <td>{{ concour.imageUrl }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('concours_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('concours_edit', { 'id': concour.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
