{% extends "AppBundle::table.html.twig" %}
{% block page_title %} {{concour.nom}}{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
         <a href="#">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
        <li>
          <a href="{{ path('concours_index') }}">Concours</a> 
          <i class="icon-angle-right"></i>
        </li>        
        <li><a href="#">Détails</a></li>
      </ul>
   {% endblock %}
     {% block table_title %}Les détails d'un concours{% endblock %}    
{% block table %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ concour.nom }}</td>
            </tr>
            <tr>
                <th>Ecole</th>
                <td>{{ concour.ecole }}</td>
            </tr>
            <tr>
                <th>Abreviation</th>
                <td>{{ concour.abreviation }}</td>
            </tr>
            <tr>
                <th>Description de l'ecole</th>
                <td>{{ concour.descriptionEcole }}</td>
            </tr>
            <tr>
                <th>Description du concours</th>
                <td>{{ concour.descriptionConcours }}</td>
            </tr>
            <tr>
                <th>Contacts</th>
                <td>{{ concour.contacts }}</td>
            </tr>
            <tr>
                <td>{{ concour.imageUrl }}</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('concours_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('concours_edit', { 'id': concour.id }) }}">Modifier</a>
        </li>
    </ul>
{% endblock %}
