{% extends 'base.html.twig' %}
{% block title %}{{concours.nom}}{% endblock %}
{% block body %}

 <div id="panel-1" class="panel panel-default">
 <div class="panel-body"> 
  <h3>
 {{concours.nom }}    
 </h3> 
 {{concours.ecole }} 
  <div class="col-md-3 pull-right">
 <a href="https://play.google.com/store/apps/details?id=com.centor.mobile.app" class="btn btn-3d btn-dirtygreen">Ouvrir dans l'App</a>
</div>       
 </div> 

</div>

<div id="panel-1" class="panel panel-default">
<header class="panel-heading">
<h2 class="panel-title elipsis">
 Détails du concours
</h2>
</header>
<div class="panel-body">
<div class="table-responsive">
    <table class="table  nomargin">
        <tbody>
            <tr>
                <td>Date limite de depôt de dossiers</td>
                <td><span class="label label-success">{% if concours.dateDossier %}{{ concours.dateDossier|date('d/m/Y') }}{% endif %}</span></td>
            </tr>       
            <tr>
                <td>Date du concours</td>
                <td><span class="label label-success">{% if concours.dateConcours %}{{ concours.dateConcours|date('d/m/Y') }}{% endif %}</span></td>
            </tr>
            {% if concours.nombrePlace %}
            <tr>
                <td>Nombre de places disponibles</td>
                <td><span class="label label-info">{{concours.nombrePlace}} </span></td>
            </tr>
            {% endif %}
            {% if concours.nombreInscrit %}
            <tr>
                <td>Nombre de candidats déjà inscrits</td>
                <td><span class="label label-warning">{{concours.nombreInscrit}} </span></td>
            </tr>
             {% endif %}
        </tbody>
    </table>

 </div>
 {% if concours.matieres is not empty %}
 <h3> Programme de préparation</h3>
<div class="table-responsive">
    <table class="table  nomargin">
        <tbody>
          {% for matiere in concours.matieres %}
            <tr>
                <td><h4>{{ matiere.titre }}</h4>{{ matiere.description }}</td>
                <td>{{ matiere.poids }}%</td>
            </tr>
        {% endfor %}                
        </tbody>
    </table>
 </div>
      {% endif %}
 <row>

<div class="fb-like col-md-12" data-href="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

 </row>
</div>                                  
</div>

 <div id="panel-1" class="panel panel-default">
<header class="panel-heading">
    <h2 class="panel-title elipsis">
  Description
    </h2>
</header>
 <div class="panel-body"> 
  <p>
 {{concours.descriptionConcours }}    
 </p>
  <div class="fb-comments" data-href="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-numposts="15" data-width="100%">
 </div>

 </div> 

</div>

{% endblock %}
{% block javascripts %}
{% endblock %}