{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menus list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Theme</th>
                <th>Datesave</th>
                <th>Special</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td><a href="{{ path('menu_show', { 'id': menu.id }) }}">{{ menu.id }}</a></td>
                <td>{{ menu.theme }}</td>
                <td>{% if menu.dateSave %}{{ menu.dateSave|date('Y-m-d') }}{% endif %}</td>
                <td>{% if menu.special %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('menu_show', { 'id': menu.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
