{% extends 'base.html.twig' %}

{% block body %}
    <h1>Candidats list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Displayname</th>
                <th>Parentphone</th>
                <th>Etablissement</th>
                <th>Branche</th>
                <th>Ville</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td><a href="{{ path('candidat_show', { 'id': candidat.id }) }}">{{ candidat.id }}</a></td>
                <td>{{ candidat.displayName }}</td>
                <td>{{ candidat.parentPhone }}</td>
                <td>{{ candidat.etablissement }}</td>
                <td>{{ candidat.branche }}</td>
                <td>{{ candidat.ville }}</td>
                <td>{{ candidat.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('candidat_show', { 'id': candidat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('candidat_edit', { 'id': candidat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('candidat_new') }}">Create a new candidat</a>
        </li>
    </ul>
{% endblock %}
